In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Load Dataset
------

In [6]:
df_raw = pd.read_csv('Real_Estate_Sales_2001-2020_GL.csv')
df_raw.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Years until sold
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000.0,0.4630,Commercial,Nan,1
1,20002,2020,10/2/2020,Ashford,390 TURNPIKE RD,253000,430000.0,0.5883,Residential,Single Family,0
2,200212,2020,3/9/2021,Avon,5 CHESTNUT DRIVE,130400,179900.0,0.7248,Residential,Condo,1
3,200243,2020,4/13/2021,Avon,111 NORTHINGTON DRIVE,619290,890000.0,0.6958,Residential,Single Family,1
4,200377,2020,7/2/2021,Avon,70 FAR HILLS DRIVE,862330,1447500.0,0.5957,Residential,Single Family,1

| Attribute | Description|
| -------- | -------- |
|**Serial Number**| Is just a unique set of digits to identify each transaction.|
|**List year**| This is the year that the particular property was put up for sale.|
|**Date Recorded**| Is the date that the transaction was completed. That is, the year the property was bought.|
|**Town**| The town where this property is located.|
|**Address**| The property's address.|
|**Assessed Value**| How much the property is generally considered to be worth.|
|**Sale Amount**| How much the property was actually sold for.|
|**Sales Ratio**| The ratio measures how close the selling price of the property is to it's assessed value.|
|**Property Type**| What kind of property it is.|
|**Residential Type**| If it is a residential property, what type is it.|
|**Years until sold**| Number of years before the property was finally sold.|

In [7]:
df_raw.dropna(inplace=True)

In [8]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997213 entries, 0 to 997212
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     997213 non-null  int64
 1   List Year         997213 non-null  int64
 2   Date Recorded     997213 non-null  object
 3   Town              997213 non-null  object
 4   Address           997213 non-null  object
 5   Assessed Value    997213 non-null  int64
 6   Sale Amount       997213 non-null  float64
 7   Sales Ratio       997213 non-null  float64
 8   Property Type     997213 non-null  object
 9   Residential Type  997213 non-null  object
 10  Years until sold  997213 non-null  int64
dtypes: float64(2), int64(4), object(5)
memory usage: 83.7+ MB

In [47]:
# convert date recorded values into date type data
df_raw['Date Recorded'] = pd.to_datetime(df_raw['Date Recorded'], format='%m/%d/%Y').dt.date
df_raw.head(5)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Years until sold
0,2020348,2020,2021-09-13,Ansonia,230 WAKELEE AVE,150500,325000.0,0.4630,Commercial,Nan,1
1,20002,2020,2020-10-02,Ashford,390 TURNPIKE RD,253000,430000.0,0.5883,Residential,Single Family,0
2,200212,2020,2021-03-09,Avon,5 CHESTNUT DRIVE,130400,179900.0,0.7248,Residential,Condo,1
3,200243,2020,2021-04-13,Avon,111 NORTHINGTON DRIVE,619290,890000.0,0.6958,Residential,Single Family,1
4,200377,2020,2021-07-02,Avon,70 FAR HILLS DRIVE,862330,1447500.0,0.5957,Residential,Single Family,1

In [10]:
# check for duplicates from all columns
df_raw.duplicated().any()

False

In [11]:
# check for duplicates from selected columns
df_raw.duplicated(subset=['List Year','Address','Date Recorded','Years until sold']).any()

True

In [12]:
df_raw.sort_values(by=['Address']).tail(5)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Years until sold
294139,40637,2004,2005-04-12,Milford,ZURKO FARM RD,49420,250000.0,0.19768,Nan,Nan,1
206386,31166,2003,2004-08-09,Milford,ZURKO FARM RD,98840,350000.0,0.28240,Nan,Nan,1
230930,31163,2003,2004-08-09,Milford,ZURKO FARM RD,247100,875000.0,0.28240,Nan,Nan,1
313175,40639,2004,2005-04-12,Milford,ZURKO FARM RD,49420,250000.0,0.19768,Nan,Nan,1
356106,59998,2005,2005-12-13,Hartford,parking space only,0,3500.0,0.00000,Nan,Nan,0

In [13]:
# it appears that some of the data are inconsistent because a property had multiple transactions within the same date with different assessed value, sale amount, and sale ratio
df_filtered = df_raw.drop_duplicates(subset=['List Year', 'Town', 'Address','Years until sold'])
df_filtered

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Years until sold
0,2020348,2020,2021-09-13,Ansonia,230 WAKELEE AVE,150500,325000.0,0.463000,Commercial,Nan,1
1,20002,2020,2020-10-02,Ashford,390 TURNPIKE RD,253000,430000.0,0.588300,Residential,Single Family,0
2,200212,2020,2021-03-09,Avon,5 CHESTNUT DRIVE,130400,179900.0,0.724800,Residential,Condo,1
3,200243,2020,2021-04-13,Avon,111 NORTHINGTON DRIVE,619290,890000.0,0.695800,Residential,Single Family,1
4,200377,2020,2021-07-02,Avon,70 FAR HILLS DRIVE,862330,1447500.0,0.595700,Residential,Single Family,1
...,...,...,...,...,...,...,...,...,...,...,...
997208,190272,2019,2020-06-24,New London,4 BISHOP CT,60410,53100.0,1.137665,Single Family,Single Family,1
997209,190284,2019,2019-11-27,Waterbury,126 PERKINS AVE,68280,76000.0,0.898400,Single Family,Single Family,0
997210,190129,2019,2020-04-27,Windsor Locks,19 HATHAWAY ST,121450,210000.0,0.578300,Single Family,Single Family,1
997211,190504,2019,2020-06-03,Middletown,8 BYSTREK DR,203360,280000.0,0.726300,Single Family,Single Family,1
997212,190344,2019,2019-12-20,Milford,250 RESEARCH DR,4035970,7450000.0,0.541700,Nan,Nan,0

In [14]:
df_raw.describe()

,Serial Number,List Year,Date Recorded,Assessed Value,Sale Amount,Sales Ratio,Years until sold
count,9.972130e+05,997213.000000,997213,9.972130e+05,9.972130e+05,9.972130e+05,997213.000000
mean,4.311864e+05,2010.189829,2011-06-19 11:36:47.021769216,2.791437e+05,3.911512e+05,1.044637e+01,0.750900
min,0.000000e+00,2001.000000,1999-04-05 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,-18.000000
25%,3.044400e+04,2004.000000,2005-07-25 00:00:00,8.760000e+04,1.400000e+05,4.867000e-01,1.000000
50%,7.030300e+04,2010.000000,2011-01-19 00:00:00,1.383900e+05,2.250000e+05,6.246000e-01,1.000000
75%,1.518780e+05,2016.000000,2017-04-05 00:00:00,2.255600e+05,3.650000e+05,7.852761e-01,1.000000
max,2.000500e+09,2020.000000,2021-09-30 00:00:00,8.815100e+08,5.000000e+09,1.226420e+06,4.000000
std,6.549219e+06,6.237877,NaN,1.670610e+06,5.347270e+06,1.890192e+03,0.434742

-------------  
Data Cleaning for Numeric Data  
--------------

From the description about the data above, we can infer that there is inconsistent value in the 'Years until sold' column. It is not possible to have a negative value.

In [15]:
# display all negative values in "Years until sold" coloumn
df_filtered[(df_filtered['Years until sold'] < 0)].sort_values(by="Years until sold", ascending=True)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Years until sold
857911,170177,2017,1999-04-05,New London,184 PEQUOT AVE 309,46690,95000.0,0.491400,Condo,Condo,-18
878446,173165,2017,2001-08-01,Shelton,19 BLACKBERRY LA,390810,635000.0,0.615449,Single Family,Single Family,-16
882211,173202,2017,2001-08-23,Shelton,12 BOYSENBERRY LA,427910,558000.0,0.766864,Single Family,Single Family,-16
831964,170164,2017,2008-05-29,Clinton,6 OAKWOOD LN,116700,187500.0,0.622400,Single Family,Single Family,-9
851406,170107,2017,2008-06-13,Westbrook,84 PLYMOUTH RD,192500,304000.0,0.633224,Single Family,Single Family,-9
846821,17698,2017,2008-08-02,East Hartford,1073 TOLLAND ST.,101230,157000.0,0.644777,Single Family,Single Family,-9
864257,170207,2017,2008-07-03,Clinton,33 CARTER HILL RD,220400,330000.0,0.667879,Single Family,Single Family,-9
865255,170045,2017,2010-05-07,Washington,26 PARSONAGE LN,2260610,4250000.0,0.531900,Single Family,Single Family,-7
846137,170263,2017,2010-08-14,Bloomfield,115 WADHAMS RD,125580,215000.0,0.584093,Single Family,Single Family,-7
830573,170226,2017,2010-07-13,Bloomfield,39 WESLEYAN TERR,126000,140000.0,0.900000,Single Family,Single Family,-7
830326,171309,2017,2011-05-09,Bridgeport,130-A CHESTNUT ST,17260,21000.0,0.821905,Condo,Condo,-6
873055,1700141,2017,2011-09-04,Middlebury,1 WEYMOUTH WAY,145000,169000.0,0.857900,Condo,Condo,-6
420097,60072,2006,2001-10-27,Greenwich,1010 NORTH ST,573930,660000.0,0.869591,Single Family,Single Family,-5
410449,60643,2006,2001-09-25,Naugatuck,217 OSBORN RD,183850,293711.0,0.625955,Single Family,Single Family,-5
389700,60626,2006,2001-09-04,Newington,110 MOYLAN CT,64750,88000.0,0.735795,Condo,Condo,-5
896930,17172,2017,2012-04-09,Watertown,35 SCOTT AVE,138900,282500.0,0.491681,Single Family,Single Family,-5
430204,60631,2006,2001-09-05,Newington,48 EVERGREEN RD,166110,256000.0,0.648867,Single Family,Single Family,-5
901040,180144,2018,2014-10-24,Bridgeport,1174 CAPITOL AVE,131910,169000.0,0.780533,Single Family,Single Family,-4
944570,180026,2018,2014-10-03,Waterbury,203 KAYNOR DR #E,30660,60000.0,0.511000,Condo,Condo,-4
866756,171835,2017,2013-08-06,Bridgeport,149 BIRDSEY ST,77300,88000.0,0.878400,Single Family,Single Family,-4
863292,170950,2017,2014-09-14,Meriden,223 CROWN VLG,33740,53900.0,0.625974,Condo,Condo,-3
832127,17013,2017,2014-12-14,Andover,27 HENDEE RD,58400,82000.0,0.712195,Single Family,Single Family,-3
479961,70054,2007,2004-11-02,Westport,6 SPRUCEWOOD LANE,869600,1200000.0,0.724667,Single Family,Single Family,-3
875939,17025,2017,2014-11-14,Wilton,93 MILLSTONE RD,388780,405000.0,0.959951,Single Family,Single Family,-3
921010,180055,2018,2015-10-15,Danbury,3 ABBOTT AV,183900,247423.0,0.743200,Two Family,Two Family,-3
407732,60508,2006,2003-07-17,Naugatuck,80 GORMAN ST,84200,158900.0,0.529893,Single Family,Single Family,-3
864328,170195,2017,2015-07-23,Putnam,29 RIVER JUNCTION,48300,49900.0,0.967936,Nan,Nan,-2
861459,170233,2017,2015-01-05,Manchester,109 MAPLE STREET,82200,95000.0,0.865200,Single Family,Single Family,-2
870380,170391,2017,2015-06-15,Trumbull,114 IMPERIAL COURT,341740,405000.0,0.843802,Condo,Condo,-2
905490,180014,2018,2016-10-16,Westport,301 POST RD EAST U13,275600,467500.0,0.589500,Condo,Condo,-2
864290,170269,2017,2015-01-25,Manchester,80 HEMLOCK ST,62100,95000.0,0.653684,Single Family,Single Family,-2
388498,60032,2006,2004-02-26,Sharon,DOUGLAS RD,3600,5020.0,0.717131,Nan,Nan,-2
846594,17050,2017,2015-06-05,Andover,38 ASPINALL DRIVE,105300,138000.0,0.763043,Single Family,Single Family,-2
443976,60931,2006,2004-08-02,Stratford,125 WARNER HL RD 27,92750,179000.0,0.518156,Condo,Condo,-2
414000,60798,2006,2004-06-05,Bristol,225 TYLER WAY,147320,329900.0,0.446560,Single Family,Single Family,-2
419243,60550,2006,2004-07-31,Newington,131 STAGE COACH LN,246120,420000.0,0.586000,Single Family,Single Family,-2
424369,69062,2006,2004-09-24,South Windsor,2606 MILL POND DR,123520,243900.0,0.506437,Condo,Condo,-2
478225,70319,2007,2005-02-05,Meriden,46 ORIENT ST,155340,264000.0,0.588409,Two Family,Two Family,-2
451304,61053,2006,2004-09-12,Stratford,243 WEBER AVENUE,420,287500.0,0.001461,Nan,Nan,-2
857705,170482,2017,2015-06-25,Enfield,265 BRAINARD RD,100090,130000.0,0.769923,Single Family,Single Family,-2
443550,60429,2006,2004-07-27,South Windsor,305 MILL POND DR,113580,210000.0,0.540857,Condo,Condo,-2
409330,660578,2006,2005-09-20,Branford,49 ROSE ST TOWERS UT 403,92900,150000.0,0.619333,Condo,Condo,-1
907077,180023,2018,2017-10-17,Winchester,15 CASE AVE,114520,10000.0,11.452000,Nan,Nan,-1
887784,180017,2018,2017-10-29,East Haddam,167 NORTH MOODUS RD,156840,250000.0,0.627300,Single Family,Single Family,-1
426538,60584,2006,2005-08-16,Newington,155 MOYLAN CT,70490,127000.0,0.555039,Condo,Condo,-1
881974,170369,2017,2016-06-01,Trumbull,133 ROOSEVELT DR,303170,324450.0,0.934412,Single Family,Single Family,-1
856791,170197,2017,2016-08-30,New Fairfield,10 ASTORIA,17100,31000.0,0.551600,Nan,Nan,-1
630566,12041,2012,2011-12-03,Canton,3 COLLINS VIEW ROAD,549500,700000.0,0.785000,Single Family,Single Family,-1
636226,120048,2012,2011-12-11,Clinton,9 PLYMOUTH CT,91600,118000.0,0.776271,Condo,Condo,-1
662123,120092,2012,2011-12-10,Westport,47 GORHAM AVE,532300,1130000.0,0.471062,Single Family,Single Family,-1
665689,120001,2012,2011-10-01,Tolland,1235 TOLLAND STAGE ROAD,205495,336000.0,0.611592,Single Family,Single Family,-1
837719,170306,2017,2016-07-31,Avon,32 SHEFFIELD LANE,614540,785000.0,0.782854,Single Family,Single Family,-1
846040,170346,2017,2016-02-23,Greenwich,2 HOMESTEAD LANE 306,174720,360000.0,0.485333,Condo,Condo,-1
854905,170352,2017,2016-02-28,New Haven,1217 ELLA GRASSO BLVD #B,28910,55000.0,0.525636,Condo,Condo,-1
868309,170233,2017,2016-08-01,Clinton,49A HAMMONASSETT AVE,148000,224000.0,0.660714,Single Family,Single Family,-1
951838,180100,2018,2017-10-18,Waterbury,43 WOODRUFF ST,113020,125000.0,0.904160,Three Family,Three Family,-1

In [16]:
neg_years_until_sold = df_filtered[df_filtered['Years until sold'] < 0].shape[0]
print(f'Total negative values for "Years until sold" column: {neg_years_until_sold}')

Total negative values for "Years until sold" column: 56

I decided to drop all the rows that consist of negative values in the "Years until sold" column because the data is relatively small (56 rows) compared to the whole data, which is almost 1 million rows. Therefore, it would not affect the whole analysis that much.

In [17]:
# create new dataframe which consist only positive value for the "Years until sold" column
df1 = df_filtered.copy()
df1 = df1[df1['Years until sold'] >= 0]

# to make sure all values in "Years until sold" column are valid, I'm going to recalculate all the values by substracting list year and the year from date recorded
df1['Years until sold'] = df1['Date Recorded'].dt.year - df1['List Year']
df1.head(5)

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Years until sold
0,2020348,2020,2021-09-13,Ansonia,230 WAKELEE AVE,150500,325000.0,0.4630,Commercial,Nan,1
1,20002,2020,2020-10-02,Ashford,390 TURNPIKE RD,253000,430000.0,0.5883,Residential,Single Family,0
2,200212,2020,2021-03-09,Avon,5 CHESTNUT DRIVE,130400,179900.0,0.7248,Residential,Condo,1
3,200243,2020,2021-04-13,Avon,111 NORTHINGTON DRIVE,619290,890000.0,0.6958,Residential,Single Family,1
4,200377,2020,2021-07-02,Avon,70 FAR HILLS DRIVE,862330,1447500.0,0.5957,Residential,Single Family,1

In [18]:
df1.describe()

,Serial Number,List Year,Date Recorded,Assessed Value,Sale Amount,Sales Ratio,Years until sold
count,9.616720e+05,961672.000000,961672,9.616720e+05,9.616720e+05,9.616720e+05,961672.000000
mean,4.384235e+05,2010.269684,2011-07-18 10:58:07.485961472,2.722355e+05,3.951581e+05,8.618162e+00,0.748671
min,8.100000e+01,2001.000000,2001-10-01 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,3.049000e+04,2004.000000,2005-08-11 00:00:00,8.820000e+04,1.430000e+05,4.866778e-01,0.000000
50%,7.047300e+04,2010.000000,2011-04-05 00:00:00,1.388100e+05,2.276000e+05,6.226598e-01,1.000000
75%,1.600270e+05,2016.000000,2017-05-01 00:00:00,2.256000e+05,3.650425e+05,7.770369e-01,1.000000
max,2.000500e+09,2020.000000,2021-09-30 00:00:00,8.815100e+08,5.000000e+09,1.226420e+06,4.000000
std,6.630489e+06,6.230115,NaN,1.613154e+06,5.437931e+06,1.696565e+03,0.433833

Based on the newest description above, there are some anomalies for the minimum assessed value and the maximum assessed value, sale amount, and sales ratio  
  
Therefore, I want to find total rows that consist of 0 value in at least 1 out of 4 criteria: serial number, assessed value, sale amount, and sales ratio

In [19]:
# display all rows with 0 value with these criteria
zero_serial_number = df1[df1['Serial Number'] == 0].shape[0]
zero_assessed_value = df1[df1['Assessed Value']==0].shape[0]
zero_sale_amount = df1[df1['Sale Amount']==0].shape[0]
zero_sales_ratio = df1[df1['Sales Ratio']==0].shape[0]

print(f'''
Total data with 0 value of serial number: {zero_serial_number}
Total data with 0 value of assessed value: {zero_assessed_value}
Total data with 0 value of sale amount: {zero_sale_amount}
Total data with 0 value of sales ratio: {zero_sales_ratio}
''')

Total data with 0 value of serial number: 0
Total data with 0 value of assessed value: 6427
Total data with 0 value of sale amount: 1575
Total data with 0 value of sales ratio: 7771

I want to check if there is any data that has at least 2 out of 3 criteria: assessed value, sale amount, and sales ratio.

In [20]:
mask = df1[(df1['Assessed Value'] == 0)
           | (df1['Sale Amount'] == 0)
           | (df1['Sales Ratio'] == 0)]

mask

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Years until sold
75,10323,2001,2002-09-23,Coventry,400 EASTVIEW DR,0,325400.0,0.0,Nan,Nan,1
86,10045,2001,2002-01-03,Bethany,9 SIMPSON CT,96590,0.0,0.0,Nan,Nan,1
96,12532,2001,2002-08-13,Bolton,45 BEACON CT,0,12350.0,0.0,Nan,Nan,1
127,10055,2001,2001-12-04,Stafford,15 JENNIFER LN,0,165155.0,0.0,Nan,Nan,0
133,10502,2001,2002-01-15,Stratford,1101 SUCCESS AVE,0,50000.0,0.0,Nan,Nan,1
...,...,...,...,...,...,...,...,...,...,...,...
992904,190045,2019,2019-11-22,Windham,234 BEAVER HILL RD,0,30000.0,0.0,Nan,Nan,0
994922,190355,2019,2020-04-02,Oxford,1029 TURNBERRY CT,0,418905.0,0.0,Condo,Condo,1
996063,190290,2019,2020-06-04,Simsbury,24 HENDRICKS LANE,0,230450.0,0.0,Single Family,Single Family,1
996597,190409,2019,2020-07-01,Oxford,735 CHAMPIONSHIP DR,0,482850.0,0.0,Condo,Condo,1
996735,190202,2019,2020-03-31,Waterford,7 THIRD AVE,0,85000.0,0.0,Single Family,Single Family,1

In [21]:
# check for assessed value and sales ratio 
mask[(mask['Assessed Value'] > 0)
    & (mask['Sales Ratio'] > 0)]

Empty DataFrame
Columns: [Serial Number, List Year, Date Recorded, Town, Address, Assessed Value, Sale Amount, Sales Ratio, Property Type, Residential Type, Years until sold]
Index: []

In [22]:
# check for sale amount and sales ratio
mask[(mask['Sale Amount'] > 0)
    & (mask['Sales Ratio'] > 0)]

Empty DataFrame
Columns: [Serial Number, List Year, Date Recorded, Town, Address, Assessed Value, Sale Amount, Sales Ratio, Property Type, Residential Type, Years until sold]
Index: []

In [23]:
# check for assessed value and sale amount
mask[(mask['Assessed Value'] > 0)
    & (mask['Sale Amount'] > 0)]

# I've decided to not do anything with the result below because I think the gap between both values is a little bit odd.

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Years until sold
9287,200088,2020,2021-02-16,Mansfield,12 SILO RD WEST,10,120000.0,0.0,Residential,Condo,1
17155,200186,2020,2021-06-14,Mansfield,9 VALLEY VIEW DR,5,143995.0,0.0,Residential,Single Family,1
38045,2000798,2020,2021-01-15,Stamford,93 GLENBROOK ROAD GARAGE #2,6970,72000000.0,0.0,Residential,Condo,1

From the previous insight, we can conclude that all **zero values in the Sales Ratio column** happened mostly   
because there is **zero value in the Assessed Value or Sale Amount column**

After scouring the internet, I got some insight regarding the property price and assessment sales ratio:
1. Based on the property price on [landsearch.com](https://www.landsearch.com/), the cheapest property catalog is over $100. 
2. According to [iaao.org](https://www.iaao.org/media/standards/Standard_on_Ratio_Studies.pdf), property assessment sales ratio is between 90% - 110%

Therefore, there are several steps I would do:
1. I will filter out all rows that have assessed value and sale amount less than 100 and assign the dataframe into a new variable
2. I will assume that the assessed value and sale amount have either the same number of digits or a maximum difference of 1 digit between them.  
Therefore, I have decided to adjust the digits to be equal if there is a difference of more than 1 digit since I got no extra information on the internet to adjust them better.
3. While adjusting the assessed value or the sale amound digit, I will ensure that the Sales Ratio is between 90%-110%.
4. Create dictionaries for the assessed value and sale amount per address.
5. Create dictionaries for the assessed value and sale amount per property type corresponding to the town.

In [24]:
# filter out all rows that have assign value and sale amount less than 100 and assign the dataframe into a new variable
df1_assessed_and_sale_above100 = df1.copy()
df1_assessed_and_sale_above100 = df1[(df1['Sale Amount'] >= 100) & (df1['Assessed Value'] >= 100)].sort_values(by='Assessed Value', ascending=True)
df1_assessed_and_sale_above100

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Years until sold
358557,50138,2005,2006-04-03,Old Saybrook,175 FERRY RD 14,100,475000.0,0.000211,Nan,Nan,1
569452,10616,2010,2011-09-13,Wethersfield,30 CALIBER LN,100,230000.0,0.000435,Nan,Nan,1
387250,50178,2005,2006-05-16,Old Saybrook,175 FERRY RD 27,100,561228.0,0.000178,Nan,Nan,1
23750,20018,2020,2021-01-21,Andover,24 SKINNER HILL RD,100,231000.0,0.000400,Residential,Single Family,1
433070,60004,2006,2006-10-05,Brooklyn,POMFRET RD,100,5000.0,0.020000,Nan,Nan,0
...,...,...,...,...,...,...,...,...,...,...,...
390454,60270,2006,2007-01-12,Greenwich,EAST PUTNAM AVE,122935400,181700000.0,0.676584,Nan,Nan,1
811130,160270,2016,2016-12-21,New Britain,100 GRAND ST,131072830,120000.0,1092.273583,Nan,Nan,0
759246,150017,2015,2015-10-19,Suffield,TAINTOR ST,138958820,40356.0,3443.324908,Nan,Nan,0
993748,190201,2019,2019-11-13,Waterbury,64 ROBBINS ST,142858700,230043624.0,0.621000,Nan,Nan,0
846909,170909,2017,2018-08-15,Hamden,42 WARNER ST,881510000,4680000.0,188.356800,Condo,Condo,1

In [26]:
# Iterate each row to ensure the sales amount digits are equal or equal+1 with the assessed value, and vice versa
for index,row in df1_assessed_and_sale_above100.iterrows():
    assessed_value = row['Assessed Value']
    assessed_value_digits = len(str(assessed_value))

    sale_amount = row['Sale Amount']
    sale_amount_digits = len(str(sale_amount).split('.', 1)[0])

    sales_ratio = row['Sales Ratio']

    diff = abs(assessed_value_digits - sale_amount_digits)

    # handling possible conditions
    if (assessed_value_digits > sale_amount_digits) and (diff > 1):
        sale_amount *= 10**diff
        sales_ratio = assessed_value / sale_amount

       # According to iaao.org, property assessment sales ratio is between 90% - 110%
        if (sales_ratio < 0.9) & (sales_ratio > 1.1):
            sale_amount *= 10

    elif (sale_amount_digits > assessed_value_digits) and (diff > 1):
        assessed_value *= 10**diff
        sales_ratio = assessed_value / sale_amount
        
        # According to iaao.org, property assessment sales ratio is between 90% - 110%
        if (sales_ratio < 0.9) & (sales_ratio > 1.1):
            assessed_value *= 10
    
    sales_ratio = round(assessed_value / sale_amount, 5)

    # Update values in the DataFrame using loc
    df1_assessed_and_sale_above100.at[index, 'Sale Amount'] = sale_amount
    df1_assessed_and_sale_above100.at[index, 'Assessed Value'] = assessed_value
    df1_assessed_and_sale_above100.at[index, 'Sales Ratio'] = sales_ratio

In [38]:
# create a dict for mean of the Assessed Value column per address
# I don't include the property type because the same address should have the same type
mean_assessed_value_per_address = df1_assessed_and_sale_above100[(df1_assessed_and_sale_above100['Property Type']!='Nan')
                                                                 & (df1_assessed_and_sale_above100['Residential Type']!='Nan')].groupby(['Address'])['Assessed Value'].mean().round(0).to_dict()
mean_assessed_value_per_address

{'#110 &L77 RANSOM HALL RD': 154710.0,
 '#12 #112 #193 #205 #238 #248 #': 216020.0,
 '#13 VILLAS AT RIVER HEIGHTS': 281000.0,
 '#27 DUCK ISLAND YACHT CLUB': 26520.0,
 '#3625 NIANTIC DOCKOMINIUM': 25200.0,
 '#4 HENRYS MOBILE HOME PARK': 10870.0,
 '#50 FOX HILL GARAGE': 7350.0,
 '(2 MIMOSA DRIVE)2 DAFFODIL LAN': 1344840.0,
 '0 & 11 MORGAN ST': 297570.0,
 '0 & 26 JAMESON ST': 134590.0,
 '0 & 3 KINLOCH TERRACE': 245760.0,
 '0 & 35 OLD MILL RD': 702900.0,
 '0 & 502 PLEASANT VALLEY RD SOU': 125090.0,
 '0 & 52 RIVERVIEW AVE': 616280.0,
 '0 & 6 RIVER LN': 808700.0,
 '0 & 91 SHELTER COVE RD': 465700.0,
 '0 + 52 WALES RD': 222988.0,
 '0 ALDEN STREET UNIT A': 210240.0,
 '0 BAILEY POND RD': 76650.0,
 '0 BARN HILL RD LOT 2C & 2D': 1343710.0,
 '0 BARN HILL ROAD': 707970.0,
 '0 BAYBERRY LANE': 144800.0,
 '0 BEDFORD ST GARAGE G-2-5': 15540.0,
 '0 BEDFORD STREET G-1-6': 14810.0,
 '0 BEDFORD STREET GARAGE G-1-2': 15540.0,
 '0 BETTS IS': 516730.0,
 '0 BRIDGEWATER': 169440.0,
 '0 BROOKDALE DRIVE': 442640.0,
 '0 BRUSH ISLAND ROAD': 1656900.0,
 '0 BRUSHWOOD ROAD': 568460.0,
 '0 CAMBRIDGE RD (AKA 63 MIDDLEB': 368360.0,
 '0 CASCADE ROAD': 949590.0,
 '0 CASWELL COVE MARINA #B10': 4550.0,
 '0 CASWELL COVE MARINA #B2': 4550.0,
 '0 CASWELL COVE MARINA #B4': 7000.0,
 '0 CASWELL COVE MARINA #C29': 7700.0,
 '0 CASWELL COVE MARINA #C6': 4550.0,
 '0 CASWELL COVE MARINA #D1': 7700.0,
 '0 CASWELL COVE MARINA #D2': 10500.0,
 '0 CASWELL COVE MARINA #D20': 8750.0,
 '0 CASWELL COVE MARINA #D31': 9625.0,
 '0 CASWELL COVE MARINA #D5': 7700.0,
 '0 CASWELLCOVE MARINA #B17': 7000.0,
 '0 CHAMBERLAIN HWY; 25-3/17/19J': 26100.0,
 '0 CHRISTIE HILL ROAD': 3955000.0,
 '0 CIDER MILL ROAD': 398435.0,
 '0 CLARK HILL RD': 78690.0,
 '0 COLETON ROAD (AKA 7 HUNTING': 611690.0,
 '0 COOK ROAD': 738590.0,
 '0 COPPER BEACH CT': 134820.0,
 '0 COPPER BEECH CT': 134820.0,
 '0 COPPER BEECH CT #A102': 151550.0,
 '0 COPPER BEECH CT #B104': 134820.0,
 '0 COPPER BEECH CT #C101': 151550.0,
 '0 COPPS IS': 643860.0,
 '0 COURTLAND AVE GARAGE G-13': 18140.0,
 '0 COVE ROAD': 230060.0,
 '0 CRABTREE LN': 261060.0,
 '0 CRAIG COURT (AKA 15 CRAIG CO': 586200.0,
 '0 DUNDEE ROAD AKA 124 DUNDEE R': 558870.0,
 '0 EAST PUTNAM AVE APT 4C': 1065050.0,
 '0 ELY PLACE': 315940.0,
 '0 FAIRFIELD AVENUE': 442188.0,
 '0 FAIRFIELD AVENUE #14': 452420.0,
 '0 FARMS ROAD': 480580.0,
 '0 FERN ST': 283760.0,
 '0 FOREST STREET #19': 289700.0,
 '0 FOREST STREET UT 12': 270320.0,
 '0 FRESH MEADOW LN': 70000.0,
 '0 GERIK ROAD': 576530.0,
 '0 GOLDEN HILL ST EXT': 157480.0,
 '0 GREENE LN + 32 GREENE LN': 146400.0,
 '0 GUINEA ROAD': 438330.0,
 '0 HACKETT AVE': 267260.0,
 '0 HALE STREET # 19': 143990.0,
 '0 HALE STREET # 20': 143990.0,
 '0 HALE STREET # 24': 152510.0,
 '0 HALE STREET # 9': 138220.0,
 '0 HALE STREET #27': 229960.0,
 '0 HALE STREET #4': 211120.0,
 '0 HALE STREET UT 2': 121950.0,
 '0 HAPPY HILL ROAD': 707690.0,
 '0 HARBOR DR DOCK# B-3': 19320.0,
 '0 HARBOR DRIVE  # H-8': 26040.0,
 '0 HARBOR DRIVE #H27': 37490.0,
 '0 HARBOR DRIVE A-3': 10920.0,
 '0 HARBOR DRIVE A-4': 10920.0,
 '0 HARBOR DRIVE A-8': 13650.0,
 '0 HARBOR DRIVE B-9': 7640.0,
 '0 HARBOR DRIVE C-4': 7640.0,
 '0 HARBOR DRIVE D-5': 32550.0,
 '0 HARBOR DRIVE DOCK # H-11': 18480.0,
 '0 HARBOR DRIVE DOCK # L-4': 21000.0,
 '0 HARBOR DRIVE DOCK # M-1': 26040.0,
 '0 HARBOR DRIVE DOCK A1': 2539000.0,
 '0 HARBOR DRIVE DOCK A10': 2539000.0,
 '0 HARBOR DRIVE DOCK A12': 2539000.0,
 '0 HARBOR DRIVE DOCK A13': 2539000.0,
 '0 HARBOR DRIVE DOCK A14': 2539000.0,
 '0 HARBOR DRIVE DOCK A16': 2539000.0,
 '0 HARBOR DRIVE DOCK A17': 2539000.0,
 '0 HARBOR DRIVE DOCK A18': 2539000.0,
 '0 HARBOR DRIVE DOCK A19': 2539000.0,
 '0 HARBOR DRIVE DOCK A2': 2539000.0,
 '0 HARBOR DRIVE DOCK A20': 2539000.0,
 '0 HARBOR DRIVE DOCK A21': 2539000.0,
 '0 HARBOR DRIVE DOCK A22': 2539000.0,
 '0 HARBOR DRIVE DOCK A23': 2539000.0,
 '0 HARBOR DRIVE DOCK A24': 2539000.0,
 '0 HARBOR DRIVE DOCK A25': 2213000.0,
 '0 HARBOR DRIVE DOCK A26': 2539000.0,
 '0 HARBOR DRIVE DOCK A3': 2539000.0,
 '0 HARBOR DRIVE DOCK A4': 2539000.0,
 '0 HARBOR DRIVE DOCK A5': 2539000.0,
 '0 HARBOR DRIVE DOCK A6': 2539000.0,
 '0 HARBOR DRIVE DOCK A7': 2539000.0,
 '0 HARBOR DRIVE DOCK A8': 2539000.0,
 '0 HARBOR DRIVE DOCK A9': 2539000.0,
 '0 HARBOR DRIVE DOCK B-2': 23890.0,
 '0 HARBOR DRIVE DOCK B1': 2539000.0,
 '0 HARBOR DRIVE DOCK B10': 2539000.0,
 '0 HARBOR DRIVE DOCK B11': 2539000.0,
 '0 HARBOR DRIVE DOCK B12': 2539000.0,
 '0 HARBOR DRIVE DOCK B13': 2539000.0,
 '0 HARBOR DRIVE DOCK B14': 3119000.0,
 '0 HARBOR DRIVE DOCK B15': 2539000.0,
 '0 HARBOR DRIVE DOCK B16': 2539000.0,
 '0 HARBOR DRIVE DOCK B17': 2539000.0,
 '0 HARBOR DRIVE DOCK B18': 2539000.0,
 '0 HARBOR DRIVE DOCK B19': 2539000.0,
 '0 HARBOR DRIVE DOCK B2': 2539000.0,
 '0 HARBOR DRIVE DOCK B20': 2539000.0,
 '0 HARBOR DRIVE DOCK B21': 2539000.0,
 '0 HARBOR DRIVE DOCK B22': 2539000.0,
 '0 HARBOR DRIVE DOCK B23': 2539000.0,
 '0 HARBOR DRIVE DOCK B24': 2539000.0,
 '0 HARBOR DRIVE DOCK B25': 2539000.0,
 '0 HARBOR DRIVE DOCK B26': 2539000.0,
 '0 HARBOR DRIVE DOCK B27': 2539000.0,
 '0 HARBOR DRIVE DOCK B28': 2539000.0,
 '0 HARBOR DRIVE DOCK B3': 2539000.0,
 '0 HARBOR DRIVE DOCK B4': 2539000.0,
 '0 HARBOR DRIVE DOCK B5': 2539000.0,
 '0 HARBOR DRIVE DOCK B6': 2539000.0,
 '0 HARBOR DRIVE DOCK B7': 2539000.0,
 '0 HARBOR DRIVE DOCK B8': 1273530.0,
 '0 HARBOR DRIVE DOCK B9': 2539000.0,
 '0 HARBOR DRIVE DOCK C1': 2539000.0,
 '0 HARBOR DRIVE DOCK C10': 2213000.0,
 '0 HARBOR DRIVE DOCK C11': 2539000.0,
 '0 HARBOR DRIVE DOCK C12': 2213000.0,
 '0 HARBOR DRIVE DOCK C13': 2539000.0,
 '0 HARBOR DRIVE DOCK C14': 2213000.0,
 '0 HARBOR DRIVE DOCK C15': 2539000.0,
 '0 HARBOR DRIVE DOCK C16': 2213000.0,
 '0 HARBOR DRIVE DOCK C17': 2539000.0,
 '0 HARBOR DRIVE DOCK C18': 2213000.0,
 '0 HARBOR DRIVE DOCK C19': 2539000.0,
 '0 HARBOR DRIVE DOCK C2': 2539000.0,
 '0 HARBOR DRIVE DOCK C20': 2213000.0,
 '0 HARBOR DRIVE DOCK C21': 2539000.0,
 '0 HARBOR DRIVE DOCK C22': 2213000.0,
 '0 HARBOR DRIVE DOCK C23': 2539000.0,
 '0 HARBOR DRIVE DOCK C3': 2539000.0,
 '0 HARBOR DRIVE DOCK C4': 2213000.0,
 '0 HARBOR DRIVE DOCK C5': 2539000.0,
 '0 HARBOR DRIVE DOCK C6': 2213000.0,
 '0 HARBOR DRIVE DOCK C7': 2539000.0,
 '0 HARBOR DRIVE DOCK C8': 2213000.0,
 '0 HARBOR DRIVE DOCK C9': 2539000.0,
 '0 HARBOR DRIVE DOCK D1': 1882000.0,
 '0 HARBOR DRIVE DOCK D10': 3049000.0,
 '0 HARBOR DRIVE DOCK D11': 3049000.0,
 '0 HARBOR DRIVE DOCK D12': 3049000.0,
 '0 HARBOR DRIVE DOCK D13': 3049000.0,
 '0 HARBOR DRIVE DOCK D14': 3049000.0,
 '0 HARBOR DRIVE DOCK D15': 3049000.0,
 '0 HARBOR DRIVE DOCK D17': 3049000.0,
 '0 HARBOR DRIVE DOCK D18': 3049000.0,
 '0 HARBOR DRIVE DOCK D19': 3188000.0,
 '0 HARBOR DRIVE DOCK D2': 1882000.0,
 '0 HARBOR DRIVE DOCK D20': 2279000.0,
 '0 HARBOR DRIVE DOCK D21': 2279000.0,
 '0 HARBOR DRIVE DOCK D3': 2539000.0,
 '0 HARBOR DRIVE DOCK D4': 2539000.0,
 '0 HARBOR DRIVE DOCK D5': 2539000.0,
 '0 HARBOR DRIVE DOCK D6': 2539000.0,
 '0 HARBOR DRIVE DOCK D7': 2539000.0,
 '0 HARBOR DRIVE DOCK D8': 2539000.0,
 '0 HARBOR DRIVE DOCK D9': 3049000.0,
 '0 HARBOR DRIVE DOCK E-1': 6570.0,
 '0 HARBOR DRIVE DOCK H-15': 43710.0,
 '0 HARBOR DRIVE DOCK L-24': 21000.0,
 '0 HARBOR DRIVE DOCK L15': 23890.0,
 '0 HARBOR DRIVE DOCK L27': 21000.0,
 '0 HARBOR DRIVE DOCK L7': 21000.0,
 '0 HARBOR DRIVE DOCK UNIT E-4': 508000.0,
 '0 HARBOR DRIVE DOCK# C-4': 806000.0,
 '0 HARBOR DRIVE DOCK# K-4': 34130.0,
 '0 HARBOR DRIVE DOCK# L-1': 19320.0,
 '0 HARBOR DRIVE DOCK# L-6': 21000.0,
 '0 HARBOR DRIVE DOCK# M-5': 21000.0,
 '0 HARBOR DRIVE E-3': 630000.0,
 '0 HARBOR DRIVE F115': 23520.0,
 '0 HARBOR DRIVE F13': 18820.0,
 '0 HARBOR DRIVE H-3': 11820.0,
 '0 HARBOR DRIVE H-4': 11820.0,
 '0 HARBOR DRIVE H13': 48570.0,
 '0 HARBOR DRIVE L-3': 26040.0,
 '0 HARBOR DRIVE L21': 32550.0,
 '0 HARBOR DRIVE L22': 23100.0,
 '0 HARBOR DRIVE L27': 26040.0,
 '0 HARBOR DRIVE L5': 26040.0,
 '0 HARBOR DRIVE M-7': 26040.0,
 '0 HARBOR DRIVE M14': 26040.0,
 '0 HARBOR DRIVE M15': 26040.0,
 '0 HARBOR DRIVE MARINA UNIT # L': 18480.0,
 '0 HARBOR DRIVE MARINA UNIT # M': 18480.0,
 '0 HARBOR DRIVE MARINA UNIT #L-': 25470.0,
 '0 HARBOR DRIVE UNIT B-5': 7640.0,
 '0 HARBOR DRIVE UNIT D-3': 4620.0,
 '0 HARBOR DRIVE# M-12': 18480.0,
 '0 HARBOR DRIVE, DOCK H20': 48570.0,
 '0 HARBOR DRIVE, DOCK M-5': 32550.0,
 '0 HARD HILL RD S': 192600.0,
 '0 HAZARD LANE': 602580.0,
 '0 HERBERT & 62 HERBERT': 283940.0,
 '0 HOBBS ISLAND': 251370.0,
 '0 HOPE STREET': 374980.0,
 '0 HURLINGHAM DRIVE': 91350.0,
 '0 JUNE ROAD (AKA 38 GUINEA RD)': 514710.0,
 '0 LEDGEBROOK DR': 8960.0,
 '0 LEDGEBROOK DR 11GL1': 8960.0,
 '0 LEDGEBROOK DR 11GL10': 13020.0,
 '0 LLOYD ST': 208740.0,
 '0 LONG RIDGE ROAD': 510307.0,
 '0 LOOP RD': 16200.0,
 '0 MAYAPPLE ROAD': 477070.0,
 '0 MEADOW PARK AVENUE SOUTH': 314330.0,
 '0 MORRIS STREET': 181440.0,
 '0 NEW RD.': 422100.0,
 '0 NEWFIELD AVENUE': 949830.0,
 '0 NICHOLS AVENUE': 405110.0,
 '0 NORTH ST': 1148700.0,
 '0 PARK DRIVE; MBLU:  29-2/16/2': 120500.0,
 '0 PECK LN': 235800.0,
 '0 PEPPER RIDGE ROAD': 304730.0,
 '0 PINE HILL TERRACE': 263095.0,
 '0 POPES ISLAND RD': 13340.0,
 '0 POPES ISLAND RD, UNIT G-14': 10500.0,
 '0 PUTNAM AVENUE 1B': 689150.0,
 '0 QUIDNET CT': 2730.0,
 '0 RALPH AVE LT 209': 10850.0,
 '0 REDMONT ROAD': 362030.0,
 '0 RIVER LANE': 524300.0,
 '0 ROCKY POINT RD': 1929900.0,
 '0 ROWAYTON WOODS DR': 14350.0,
 '0 ROWAYTON WOODS DR #206': 283850.0,
 '0 ROWAYTON WOODS DR 23': 14700.0,
 '0 ROWAYTON WOODS DR 28': 14700.0,
 '0 ROWAYTON WOODS DR 4': 14700.0,
 '0 ROWAYTON WOODS DR 54': 14700.0,
 '0 ROXBURY ROAD': 371920.0,
 '0 SAWMILL ROAD': 442050.0,
 '0 SEATON ROAD GAR #G-9': 8440.0,
 '0 SEATON ROAD GARAGE G8': 8060.0,
 '0 SHADOW RIDGE ROAD': 335010.0,
 '0 SHEFFIELD IS': 184030.0,
 '0 SOUTHFIELD AVE DOCK # 27': 21000.0,
 '0 SOUTHFIELD AVE DOCK # B-21': 14700.0,
 '0 SOUTHFIELD AVE DOCK 16': 21000.0,
 '0 SOUTHFIELD AVE DOCK 30': 26250.0,
 '0 SOUTHFIELD AVE DOCK# 20': 16800.0,
 '0 SOUTHFIELD AVE DOCK# 4': 16800.0,
 '0 SOUTHFIELD AVE#3': 26250.0,
 '0 SOUTHFIELD AVENUE': 21755.0,
 '0 SOUTHFIELD AVENUE # 12': 21000.0,
 '0 SOUTHFIELD AVENUE # 32': 21000.0,
 '0 SOUTHFIELD AVENUE # 5': 14200.0,
 '0 SOUTHFIELD AVENUE #1': 21000.0,
 '0 SOUTHFIELD AVENUE 23': 2100000.0,
 '0 SOUTHFIELD AVENUE DOCK # 11': 21000.0,
 '0 SOUTHFIELD AVENUE DOCK # 18': 18010.0,
 '0 SOUTHFIELD AVENUE DOCK# 44': 21000.0,
 '0 SOUTHFIELD AVENUE DOCK2': 16800.0,
 '0 SOUTHFILED AVE DOCK UNIT # 5': 14200.0,
 '0 SOUTHPORT WOODS DRIVE': 12740.0,
 '0 SPRING ST &': 361900.0,
 '0 SQUAW ROCK RD': 698000.0,
 '0 STILLWATER ROAD': 351030.0,
 '0 STILLWATER ROAD AKA 1 PALMER': 368650.0,
 '0 STRAWBERRY HILL AVE #39': 5250.0,
 '0 SUMER STREET APT S1262A': 94510.0,
 '0 SUMMER ST UTN1242A': 165900.0,
 '0 SUMMER STREET': 88970.0,
 '0 SUMMER STREET # 102-1B': 116190.0,
 '0 SUMMER STREET # 102-3C': 115840.0,
 '0 SUMMER STREET # 104-1A': 109420.0,
 '0 SUMMER STREET # 104-2A': 109420.0,
 '0 SUMMER STREET # 106-1A': 111290.0,
 '0 SUMMER STREET # 106-1D': 86560.0,
 '0 SUMMER STREET # 106-3C': 163480.0,
 '0 SUMMER STREET # 108-3A': 173550.0,
 '0 SUMMER STREET # 110-1C': 135435.0,
 '0 SUMMER STREET # 110-3B': 114690.0,
 '0 SUMMER STREET # 114-1C': 186470.0,
 '0 SUMMER STREET # 116-2B': 109420.0,
 '0 SUMMER STREET # 120-2A': 109420.0,
 '0 SUMMER STREET # 120-2B': 109420.0,
 '0 SUMMER STREET # 122-2B': 109420.0,
 '0 SUMMER STREET # 124-1C': 84230.0,
 '0 SUMMER STREET # 124-3C': 156640.0,
 '0 SUMMER STREET # 126-1A': 80930.0,
 '0 SUMMER STREET # 128-1C': 157820.0,
 '0 SUMMER STREET # 128-3A': 88650.0,
 '0 SUMMER STREET # 132-3D': 109570.0,
 '0 SUMMER STREET # 134-1': 111940.0,
 '0 SUMMER STREET # 134-2A': 115050.0,
 '0 SUMMER STREET # 136-F2': 107530.0,
 '0 SUMMER STREET # 138-1A': 106790.0,
 '0 SUMMER STREET # 138-1B': 171740.0,
 '0 SUMMER STREET # 140-2B': 116190.0,
 '0 SUMMER STREET # 7': 89310.0,
 '0 SUMMER STREET # N1023A': 98290.0,
 '0 SUMMER STREET # N1063A': 91360.0,
 '0 SUMMER STREET # N1122B': 149640.0,
 '0 SUMMER STREET # N1221B': 86300.0,
 '0 SUMMER STREET # S 126-2B': 166300.0,
 '0 SUMMER STREET # S1363A': 104640.0,
 '0 SUMMER STREET # S140-1': 64770.0,
 '0 SUMMER STREET #114-2C': 186470.0,
 '0 SUMMER STREET #114-3C': 205980.0,
 '0 SUMMER STREET #116-2A': 109420.0,
 '0 SUMMER STREET #138-2D': 57480.0,
 '0 SUMMER STREET #140-3D': 98590.0,
 '0 SUMMER STREET #3B': 164620.0,
 '0 SUMMER STREET #N102-21': 98290.0,
 '0 SUMMER STREET #N102-4': 103890.0,
 '0 SUMMER STREET #N1023C': 165900.0,
 '0 SUMMER STREET #N1103B': 164620.0,
 '0 SUMMER STREET #N1122B': 149640.0,
 '0 SUMMER STREET #S1322C': 160150.0,
 '0 SUMMER STREET #S1381B': 191810.0,
 '0 SUMMER STREET #S1402D': 98590.0,
 '0 SUMMER STREET 100-7': 89310.0,
 '0 SUMMER STREET 118-2B': 105900.0,
 '0 SUMMER STREET 138 1A': 84230.0,
 '0 SUMMER STREET APT 102-2B': 91640.0,
 '0 SUMMER STREET APT N1023B': 91640.0,
 '0 SUMMER STREET N1003A': 149640.0,
 '0 SUMMER STREET N1022C': 91360.0,
 '0 SUMMER STREET N1062A': 91360.0,
 '0 SUMMER STREET N1062B': 166300.0,
 '0 SUMMER STREET N1101A': 90450.0,
 '0 SUMMER STREET N1101C': 177970.0,
 '0 SUMMER STREET N1121B': 86300.0,
 '0 SUMMER STREET N1142C': 205980.0,
 '0 SUMMER STREET N1163B': 82920.0,
 '0 SUMMER STREET N1182A': 90730.0,
 '0 SUMMER STREET N1201A': 86300.0,
 '0 SUMMER STREET N1202A': 86300.0,
 '0 SUMMER STREET N1242A': 165900.0,
 '0 SUMMER STREET N1243B': 89840.0,
 '0 SUMMER STREET S1261B': 166300.0,
 '0 SUMMER STREET S1263B': 166300.0,
 '0 SUMMER STREET S1263C': 128630.0,
 '0 SUMMER STREET S1281B': 164620.0,
 '0 SUMMER STREET S1281C': 99030.0,
 '0 SUMMER STREET S1301B': 86300.0,
 '0 SUMMER STREET S1302A': 149640.0,
 '0 SUMMER STREET S1303A': 149640.0,
 '0 SUMMER STREET S138-2': 60990.0,
 '0 SUMMER STREET S1383A': 98290.0,
 '0 SUMMER STREET S1383B': 91640.0,
 '0 SUMMER STREET S1401A': 91360.0,
 '0 SUMMER STREET S1401B': 91640.0,
 '0 SUMMER STREET S1402C': 98290.0,
 '0 SUMMER STREET UNIT 112-2A': 86300.0,
 '0 SUMMER STREET UNIT N1063C': 94510.0,
 '0 SUMMER STREET UT 114-1A': 86430.0,
 '0 SUMMER STREET UT S1261D': 98590.0,
 '0 SUMMER STREET UT S1263A': 176790.0,
 '0 SUMMER STREET UTN1022D': 82960.0,
 '0 SUMMER STREET, UNIT N1141C': 205980.0,
 '0 SUMMER STREET, UNIT S1403C': 176790.0,
 '0 SUMMIT RIDGE': 108900.0,
 '0 SUNSET ROAD': 403510.0,
 '0 THOMASTON RD': 59200.0,
 '0 TRAVIS AVENUE': 235910.0,
 '0 TURN OF RIVER RD AKA 1239 HI': 375030.0,
 '0 TURNER DRIVE': 696290.0,
 '0 TUTTLE STREET #1': 172540.0,
 '0 UPLAND ROAD': 275360.0,
 '0 VAN RENSSELAER AVE': 830810.0,
 '0 VAN RENSSELAER AVENUE': 741510.0,
 '0 WEST AVE # 2C': 129920.0,
 '0 WEST AVENUE': 429180.0,
 '0 WEST AVENUE # 3-E': 110580.0,
 '0 WEST AVENUE # 3A': 116050.0,
 '0 WEST AVENUE # 3H': 182980.0,
 '0 WEST AVENUE #3G': 156080.0,
 '0 WEST AVENUE 2C': 109090.0,
 '0 WEST AVENUE UNIT 2E': 110580.0,
 '0 WEST AVENUE UT3F': 133790.0,
 '0 WEST VIEW LANE': 563645.0,
 '0 WESTOVER ROAD': 421910.0,
 '0 WESTWOOD ROAD': 472455.0,
 '0 WINDELL PLACE': 184580.0,
 '0 WINDELL PLACE # 4': 129270.0,
 '0 WINDELL PLACE # 9': 128260.0,
 '0 WIRE MILL RD (AKA 1 CEDAR TR': 402230.0,
 '0 WIRE MILL ROAD': 429730.0,
 '0 WOODBINE ROAD': 703675.0,
 '0 WOODWAY ROAD': 333820.0,
 '0,59&69 PHILLIPS RD': 167390.0,
 '00 ASPETUCK HILL LANE': 1367750.0,
 '00, 85, 89 LAKE AVE': 1121890.0,
 '000 LONG HILL RD': 62300.0,
 '0000 & 35 STRICKLAND RD': 959000.0,
 '0000 RIVER LANE': 524300.0,
 '0000 STANWICH RD': 3964870.0,
 '006 PAYNE RD': 176470.0,
 '006-0038': 569940.0,
 '016 KINGSWOOD DR': 245420.0,
 '02A BEACH ST UT 1': 101500.0,
 '030A WOOSTER ST': 143150.0,
 '04 KAYVIEW AVE': 190780.0,
 '04 WASHINGTON ST': 114000.0,
 '05 PLEASANT ST': 150010.0,
 '05-07 JUNIPER RD': 213820.0,
 '056 ROCKWELL RD': 263550.0,
 '056 SMITH ST': 221000.0,
 '06 & 08 DRUMMERS LN': 230300.0,
 '06 & 08 GRANITE DRIVE': 277050.0,
 '06 EAGLE ROCK HL': 120820.0,
 '06 KEELER AVE': 172410.0,
 '06 OVEN ROCK RD': 142660.0,
 '06 WOODLAWN DR': 176230.0,
 '060 WALNUT HL RD': 19453.0,
 '060 WESTCHESTER RD': 175300.0,
 '06D BEACH ST': 101500.0,
 "07 AUNT PATTY'S LN W": 320390.0,
 '07 BETHPAGE DR': 117950.0,
 '074 WOOSTER ST': 131880.0,
 '08 LAURA LN UT 8': 95480.0,
 '0803 LEXINGTON BLVD': 115290.0,
 '087 PLUMTREES RD': 112840.0,
 '09 CANAAN DR': 146860.0,
 '09 CASTLE HL DR': 138770.0,
 '09 HENRY ST': 140290.0,
 '095 NASHVILLE RD': 160970.0,
 '1  ACORN LANE': 381140.0,
 '1  BARJUNE RD': 260940.0,
 '1  BIRCH DR': 171800.0,
 '1  BUTTERNUT LANE': 255310.0,
 '1  CAMELOT CREST ROAD': 300420.0,
 '1  EAST AVE': 360670.0,
 '1  EASTWOOD RD': 361470.0,
 '1  FILBERT RD': 267320.0,
 '1  GLENROCK  UNIT# A1': 147790.0,
 '1  HAWKINS AVE': 226570.0,
 '1  HOLLOW TREE RD': 250610.0,
 '1  HORIZON DR  UNIT #3': 162870.0,
 '1  ISLAND DR  UNIT # 7': 397320.0,
 '1  ISLAND DR, UNIT # 14': 397320.0,
 '1  LINCOLN AVE': 164730.0,
 '1  LINDEN ST UNIT # A-4': 147440.0,
 '1  LINDEN ST, UNIT # C8': 147540.0,
 '1  LINDENWOODS RD': 182970.0,
 '1  LITTLE WAY': 501160.0,
 '1  MARVIN ST': 328850.0,
 '1  NORTH TAYLOR AVE': 202690.0,
 '1  SUBURBAN DR': 285410.0,
 '1  THAMES ST': 180710.0,
 '1  TULIP TREE LANE': 489650.0,
 '1  WALTER AV, UNIT # 44': 66890.0,
 '1  WEST MAIN ST': 228400.0,
 '1 & 10 MAIN STREET UNIT 220': 134700.0,
 '1 & 10 MAIN STREET UNIT 326': 190300.0,
 '1 & 10 MAIN STREET UNIT 424': 138900.0,
 '1 & 192 SPRING HOUSE ROAD': 1539010.0,
 '1 & 2 QUARRY CORNER': 237995.0,
 '1 & 3 CEDAR CREST DR': 410100.0,
 '1 & 3 KNOLLWOOD DRIVE': 182530.0,
 '1 & 3 LAKE DR BP': 141400.0,
 '1 & 3 OSPREY LA': 1084400.0,
 '1 & 3 PRATT FARM LN': 375830.0,
 '1 & 3 SHELDON CIRCLE': 166810.0,
 '1 & 5R QUAIL LN': 303670.0,
 '1 & 7 PRESTON CITY RD': 153920.0,
 '1 - 9 ADNA RD': 190120.0,
 '1 -4 NORTHWOOD PL': 34790.0,
 '1 05 PLYMOUTH COLONY': 145200.0,
 '1 1/2  MERRILL RD': 322280.0,
 '1 1/2 COLONY PL': 400850.0,
 '1 1/2 HIGHLAND AVENUE': 88110.0,
 '1 1/2 INDIAN SPRING RD': 1590260.0,
 '1 A ST': 31383.0,
 '1 A ST ANDREWS DR': 531780.0,
 '1 ABBE LANE': 318150.0,
 '1 ABBEWOOD': 199500.0,
 '1 ABBEY LANE': 263970.0,
 '1 ABBEY PARK': 126590.0,
 '1 ABBOT RD #147': 79440.0,
 '1 ABBOT RD UT 146': 84690.0,
 '1 ABBOTT RD # 74': 87850.0,
 '1 ABBOTT RD #1': 78543.0,
 '1 ABBOTT RD #10': 76850.0,
 '1 ABBOTT RD #100': 90615.0,
 '1 ABBOTT RD #103': 84665.0,
 '1 ABBOTT RD #104': 84830.0,
 '1 ABBOTT RD #11': 73090.0,
 '1 ABBOTT RD #111': 86960.0,
 '1 ABBOTT RD #112': 76080.0,
 '1 ABBOTT RD #115': 84305.0,
 '1 ABBOTT RD #116': 67305.0,
 '1 ABBOTT RD #121': 64390.0,
 '1 ABBOTT RD #123': 87920.0,
 '1 ABBOTT RD #124': 87480.0,
 '1 ABBOTT RD #125': 86305.0,
 '1 ABBOTT RD #127': 79160.0,
 '1 ABBOTT RD #130': 87435.0,
 '1 ABBOTT RD #135': 92183.0,
 '1 ABBOTT RD #136': 89360.0,
 '1 ABBOTT RD #137': 89105.0,
 '1 ABBOTT RD #139': 90140.0,
 '1 ABBOTT RD #14': 78810.0,
 '1 ABBOTT RD #141': 83545.0,
 '1 ABBOTT RD #142': 88220.0,
 '1 ABBOTT RD #143': 85590.0,
 '1 ABBOTT RD #144': 90200.0,
 '1 ABBOTT RD #145': 79440.0,
 '1 ABBOTT RD #147': 79440.0,
 '1 ABBOTT RD #148': 80570.0,
 '1 ABBOTT RD #149': 86950.0,
 '1 ABBOTT RD #15': 82920.0,
 '1 ABBOTT RD #152': 68453.0,
 '1 ABBOTT RD #157': 89670.0,
 '1 ABBOTT RD #158': 83790.0,
 '1 ABBOTT RD #16': 83140.0,
 '1 ABBOTT RD #161': 86950.0,
 '1 ABBOTT RD #162': 83490.0,
 '1 ABBOTT RD #164': 68490.0,
 '1 ABBOTT RD #166': 67540.0,
 '1 ABBOTT RD #167': 65610.0,
 '1 ABBOTT RD #17': 77215.0,
 '1 ABBOTT RD #171': 65770.0,
 '1 ABBOTT RD #173': 89930.0,
 '1 ABBOTT RD #176': 90220.0,
 '1 ABBOTT RD #180': 80970.0,
 '1 ABBOTT RD #181': 79200.0,
 '1 ABBOTT RD #183': 83840.0,
 '1 ABBOTT RD #19': 88670.0,
 '1 ABBOTT RD #196': 88620.0,
 '1 ABBOTT RD #197': 84040.0,
 '1 ABBOTT RD #198': 84800.0,
 '1 ABBOTT RD #199': 87000.0,
 '1 ABBOTT RD #2': 77345.0,
 '1 ABBOTT RD #20': 76985.0,
 '1 ABBOTT RD #201': 90210.0,
 '1 ABBOTT RD #203': 87795.0,
 '1 ABBOTT RD #204': 79200.0,
 '1 ABBOTT RD #205': 83840.0,
 '1 ABBOTT RD #207': 85760.0,
 '1 ABBOTT RD #21': 97900.0,
 '1 ABBOTT RD #24': 77513.0,
 '1 ABBOTT RD #25': 89440.0,
 '1 ABBOTT RD #27': 82770.0,
 '1 ABBOTT RD #28': 79330.0,
 '1 ABBOTT RD #3': 78170.0,
 '1 ABBOTT RD #33': 79520.0,
 '1 ABBOTT RD #37': 81820.0,
 '1 ABBOTT RD #38': 89440.0,
 '1 ABBOTT RD #44': 80920.0,
 '1 ABBOTT RD #45': 76180.0,
 '1 ABBOTT RD #46': 80810.0,
 '1 ABBOTT RD #48': 85527.0,

In [39]:
# create a dict for mean of the Sale Amount column per address
# I don't include the property type because the same address should have the same type
mean_sale_amount_per_address = df1_assessed_and_sale_above100[(df1_assessed_and_sale_above100['Property Type']!='Nan')
                                                                 & (df1_assessed_and_sale_above100['Residential Type']!='Nan')].groupby(['Address'])['Sale Amount'].mean().round(0).to_dict()
mean_sale_amount_per_address

{'#110 &L77 RANSOM HALL RD': 290000.0,
 '#12 #112 #193 #205 #238 #248 #': 335000.0,
 '#13 VILLAS AT RIVER HEIGHTS': 350720.0,
 '#27 DUCK ISLAND YACHT CLUB': 40000.0,
 '#3625 NIANTIC DOCKOMINIUM': 40000.0,
 '#4 HENRYS MOBILE HOME PARK': 8000.0,
 '#50 FOX HILL GARAGE': 19000.0,
 '(2 MIMOSA DRIVE)2 DAFFODIL LAN': 1675000.0,
 '0 & 11 MORGAN ST': 408500.0,
 '0 & 26 JAMESON ST': 170000.0,
 '0 & 3 KINLOCH TERRACE': 300000.0,
 '0 & 35 OLD MILL RD': 950000.0,
 '0 & 502 PLEASANT VALLEY RD SOU': 40000.0,
 '0 & 52 RIVERVIEW AVE': 731000.0,
 '0 & 6 RIVER LN': 840000.0,
 '0 & 91 SHELTER COVE RD': 580000.0,
 '0 + 52 WALES RD': 425000.0,
 '0 ALDEN STREET UNIT A': 342000.0,
 '0 BAILEY POND RD': 7000.0,
 '0 BARN HILL RD LOT 2C & 2D': 895000.0,
 '0 BARN HILL ROAD': 770000.0,
 '0 BAYBERRY LANE': 175500.0,
 '0 BEDFORD ST GARAGE G-2-5': 325000.0,
 '0 BEDFORD STREET G-1-6': 339400.0,
 '0 BEDFORD STREET GARAGE G-1-2': 347500.0,
 '0 BETTS IS': 400000.0,
 '0 BRIDGEWATER': 375000.0,
 '0 BROOKDALE DRIVE': 485100.0,
 '0 BRUSH ISLAND ROAD': 1677000.0,
 '0 BRUSHWOOD ROAD': 850000.0,
 '0 CAMBRIDGE RD (AKA 63 MIDDLEB': 372500.0,
 '0 CASCADE ROAD': 1325000.0,
 '0 CASWELL COVE MARINA #B10': 5500.0,
 '0 CASWELL COVE MARINA #B2': 6000.0,
 '0 CASWELL COVE MARINA #B4': 5000.0,
 '0 CASWELL COVE MARINA #C29': 12000.0,
 '0 CASWELL COVE MARINA #C6': 5750.0,
 '0 CASWELL COVE MARINA #D1': 14000.0,
 '0 CASWELL COVE MARINA #D2': 22500.0,
 '0 CASWELL COVE MARINA #D20': 15000.0,
 '0 CASWELL COVE MARINA #D31': 18500.0,
 '0 CASWELL COVE MARINA #D5': 17500.0,
 '0 CASWELLCOVE MARINA #B17': 2750.0,
 '0 CHAMBERLAIN HWY; 25-3/17/19J': 140000.0,
 '0 CHRISTIE HILL ROAD': 1717500.0,
 '0 CIDER MILL ROAD': 642500.0,
 '0 CLARK HILL RD': 108577.0,
 '0 COLETON ROAD (AKA 7 HUNTING': 690000.0,
 '0 COOK ROAD': 680000.0,
 '0 COPPER BEACH CT': 300000.0,
 '0 COPPER BEECH CT': 295000.0,
 '0 COPPER BEECH CT #A102': 324000.0,
 '0 COPPER BEECH CT #B104': 280500.0,
 '0 COPPER BEECH CT #C101': 305000.0,
 '0 COPPS IS': 848000.0,
 '0 COURTLAND AVE GARAGE G-13': 325000.0,
 '0 COVE ROAD': 518000.0,
 '0 CRABTREE LN': 385000.0,
 '0 CRAIG COURT (AKA 15 CRAIG CO': 450000.0,
 '0 DUNDEE ROAD AKA 124 DUNDEE R': 442000.0,
 '0 EAST PUTNAM AVE APT 4C': 1950000.0,
 '0 ELY PLACE': 402000.0,
 '0 FAIRFIELD AVENUE': 513750.0,
 '0 FAIRFIELD AVENUE #14': 556000.0,
 '0 FARMS ROAD': 3815000.0,
 '0 FERN ST': 385000.0,
 '0 FOREST STREET #19': 346500.0,
 '0 FOREST STREET UT 12': 333000.0,
 '0 FRESH MEADOW LN': 664500.0,
 '0 GERIK ROAD': 710000.0,
 '0 GOLDEN HILL ST EXT': 100000.0,
 '0 GREENE LN + 32 GREENE LN': 10000.0,
 '0 GUINEA ROAD': 350000.0,
 '0 HACKETT AVE': 450000.0,
 '0 HALE STREET # 19': 295000.0,
 '0 HALE STREET # 20': 280000.0,
 '0 HALE STREET # 24': 285000.0,
 '0 HALE STREET # 9': 267000.0,
 '0 HALE STREET #27': 295000.0,
 '0 HALE STREET #4': 185000.0,
 '0 HALE STREET UT 2': 245000.0,
 '0 HAPPY HILL ROAD': 825000.0,
 '0 HARBOR DR DOCK# B-3': 28800.0,
 '0 HARBOR DRIVE  # H-8': 40000.0,
 '0 HARBOR DRIVE #H27': 50000.0,
 '0 HARBOR DRIVE A-3': 13500.0,
 '0 HARBOR DRIVE A-4': 13500.0,
 '0 HARBOR DRIVE A-8': 9000.0,
 '0 HARBOR DRIVE B-9': 2500.0,
 '0 HARBOR DRIVE C-4': 2500.0,
 '0 HARBOR DRIVE D-5': 14000.0,
 '0 HARBOR DRIVE DOCK # H-11': 20000.0,
 '0 HARBOR DRIVE DOCK # L-4': 27500.0,
 '0 HARBOR DRIVE DOCK # M-1': 17500.0,
 '0 HARBOR DRIVE DOCK A1': 1600000.0,
 '0 HARBOR DRIVE DOCK A10': 1600000.0,
 '0 HARBOR DRIVE DOCK A12': 1600000.0,
 '0 HARBOR DRIVE DOCK A13': 1600000.0,
 '0 HARBOR DRIVE DOCK A14': 1600000.0,
 '0 HARBOR DRIVE DOCK A16': 1600000.0,
 '0 HARBOR DRIVE DOCK A17': 1600000.0,
 '0 HARBOR DRIVE DOCK A18': 1600000.0,
 '0 HARBOR DRIVE DOCK A19': 1600000.0,
 '0 HARBOR DRIVE DOCK A2': 1600000.0,
 '0 HARBOR DRIVE DOCK A20': 1600000.0,
 '0 HARBOR DRIVE DOCK A21': 1600000.0,
 '0 HARBOR DRIVE DOCK A22': 1600000.0,
 '0 HARBOR DRIVE DOCK A23': 1600000.0,
 '0 HARBOR DRIVE DOCK A24': 1600000.0,
 '0 HARBOR DRIVE DOCK A25': 1600000.0,
 '0 HARBOR DRIVE DOCK A26': 1600000.0,
 '0 HARBOR DRIVE DOCK A3': 1600000.0,
 '0 HARBOR DRIVE DOCK A4': 1600000.0,
 '0 HARBOR DRIVE DOCK A5': 1600000.0,
 '0 HARBOR DRIVE DOCK A6': 1600000.0,
 '0 HARBOR DRIVE DOCK A7': 1600000.0,
 '0 HARBOR DRIVE DOCK A8': 1600000.0,
 '0 HARBOR DRIVE DOCK A9': 1600000.0,
 '0 HARBOR DRIVE DOCK B-2': 23000.0,
 '0 HARBOR DRIVE DOCK B1': 1600000.0,
 '0 HARBOR DRIVE DOCK B10': 1600000.0,
 '0 HARBOR DRIVE DOCK B11': 1600000.0,
 '0 HARBOR DRIVE DOCK B12': 1600000.0,
 '0 HARBOR DRIVE DOCK B13': 1600000.0,
 '0 HARBOR DRIVE DOCK B14': 1600000.0,
 '0 HARBOR DRIVE DOCK B15': 1600000.0,
 '0 HARBOR DRIVE DOCK B16': 1600000.0,
 '0 HARBOR DRIVE DOCK B17': 1600000.0,
 '0 HARBOR DRIVE DOCK B18': 1600000.0,
 '0 HARBOR DRIVE DOCK B19': 1600000.0,
 '0 HARBOR DRIVE DOCK B2': 1600000.0,
 '0 HARBOR DRIVE DOCK B20': 1600000.0,
 '0 HARBOR DRIVE DOCK B21': 1600000.0,
 '0 HARBOR DRIVE DOCK B22': 1600000.0,
 '0 HARBOR DRIVE DOCK B23': 1600000.0,
 '0 HARBOR DRIVE DOCK B24': 1600000.0,
 '0 HARBOR DRIVE DOCK B25': 1600000.0,
 '0 HARBOR DRIVE DOCK B26': 1600000.0,
 '0 HARBOR DRIVE DOCK B27': 1600000.0,
 '0 HARBOR DRIVE DOCK B28': 1600000.0,
 '0 HARBOR DRIVE DOCK B3': 1600000.0,
 '0 HARBOR DRIVE DOCK B4': 1600000.0,
 '0 HARBOR DRIVE DOCK B5': 1600000.0,
 '0 HARBOR DRIVE DOCK B6': 1600000.0,
 '0 HARBOR DRIVE DOCK B7': 1600000.0,
 '0 HARBOR DRIVE DOCK B8': 802250.0,
 '0 HARBOR DRIVE DOCK B9': 1600000.0,
 '0 HARBOR DRIVE DOCK C1': 1600000.0,
 '0 HARBOR DRIVE DOCK C10': 1600000.0,
 '0 HARBOR DRIVE DOCK C11': 1600000.0,
 '0 HARBOR DRIVE DOCK C12': 1600000.0,
 '0 HARBOR DRIVE DOCK C13': 1600000.0,
 '0 HARBOR DRIVE DOCK C14': 1600000.0,
 '0 HARBOR DRIVE DOCK C15': 1600000.0,
 '0 HARBOR DRIVE DOCK C16': 1600000.0,
 '0 HARBOR DRIVE DOCK C17': 1600000.0,
 '0 HARBOR DRIVE DOCK C18': 1600000.0,
 '0 HARBOR DRIVE DOCK C19': 1600000.0,
 '0 HARBOR DRIVE DOCK C2': 1600000.0,
 '0 HARBOR DRIVE DOCK C20': 1600000.0,
 '0 HARBOR DRIVE DOCK C21': 1600000.0,
 '0 HARBOR DRIVE DOCK C22': 1600000.0,
 '0 HARBOR DRIVE DOCK C23': 1600000.0,
 '0 HARBOR DRIVE DOCK C3': 1600000.0,
 '0 HARBOR DRIVE DOCK C4': 1600000.0,
 '0 HARBOR DRIVE DOCK C5': 1600000.0,
 '0 HARBOR DRIVE DOCK C6': 1600000.0,
 '0 HARBOR DRIVE DOCK C7': 1600000.0,
 '0 HARBOR DRIVE DOCK C8': 1600000.0,
 '0 HARBOR DRIVE DOCK C9': 1600000.0,
 '0 HARBOR DRIVE DOCK D1': 1600000.0,
 '0 HARBOR DRIVE DOCK D10': 1600000.0,
 '0 HARBOR DRIVE DOCK D11': 1600000.0,
 '0 HARBOR DRIVE DOCK D12': 1600000.0,
 '0 HARBOR DRIVE DOCK D13': 1600000.0,
 '0 HARBOR DRIVE DOCK D14': 1600000.0,
 '0 HARBOR DRIVE DOCK D15': 1600000.0,
 '0 HARBOR DRIVE DOCK D17': 1600000.0,
 '0 HARBOR DRIVE DOCK D18': 1600000.0,
 '0 HARBOR DRIVE DOCK D19': 1600000.0,
 '0 HARBOR DRIVE DOCK D2': 1600000.0,
 '0 HARBOR DRIVE DOCK D20': 1600000.0,
 '0 HARBOR DRIVE DOCK D21': 1600000.0,
 '0 HARBOR DRIVE DOCK D3': 1600000.0,
 '0 HARBOR DRIVE DOCK D4': 1600000.0,
 '0 HARBOR DRIVE DOCK D5': 1600000.0,
 '0 HARBOR DRIVE DOCK D6': 1600000.0,
 '0 HARBOR DRIVE DOCK D7': 1600000.0,
 '0 HARBOR DRIVE DOCK D8': 1600000.0,
 '0 HARBOR DRIVE DOCK D9': 1600000.0,
 '0 HARBOR DRIVE DOCK E-1': 4000.0,
 '0 HARBOR DRIVE DOCK H-15': 61500.0,
 '0 HARBOR DRIVE DOCK L-24': 22000.0,
 '0 HARBOR DRIVE DOCK L15': 19000.0,
 '0 HARBOR DRIVE DOCK L27': 25000.0,
 '0 HARBOR DRIVE DOCK L7': 24000.0,
 '0 HARBOR DRIVE DOCK UNIT E-4': 410000.0,
 '0 HARBOR DRIVE DOCK# C-4': 530000.0,
 '0 HARBOR DRIVE DOCK# K-4': 680000.0,
 '0 HARBOR DRIVE DOCK# L-1': 25000.0,
 '0 HARBOR DRIVE DOCK# L-6': 30000.0,
 '0 HARBOR DRIVE DOCK# M-5': 40000.0,
 '0 HARBOR DRIVE E-3': 465000.0,
 '0 HARBOR DRIVE F115': 10000.0,
 '0 HARBOR DRIVE F13': 24000.0,
 '0 HARBOR DRIVE H-3': 40000.0,
 '0 HARBOR DRIVE H-4': 20000.0,
 '0 HARBOR DRIVE H13': 62000.0,
 '0 HARBOR DRIVE L-3': 10000.0,
 '0 HARBOR DRIVE L21': 46000.0,
 '0 HARBOR DRIVE L22': 15000.0,
 '0 HARBOR DRIVE L27': 415000.0,
 '0 HARBOR DRIVE L5': 35000.0,
 '0 HARBOR DRIVE M-7': 29000.0,
 '0 HARBOR DRIVE M14': 22000.0,
 '0 HARBOR DRIVE M15': 26000.0,
 '0 HARBOR DRIVE MARINA UNIT # L': 18000.0,
 '0 HARBOR DRIVE MARINA UNIT # M': 20000.0,
 '0 HARBOR DRIVE MARINA UNIT #L-': 35000.0,
 '0 HARBOR DRIVE UNIT B-5': 6700.0,
 '0 HARBOR DRIVE UNIT D-3': 6700.0,
 '0 HARBOR DRIVE# M-12': 17500.0,
 '0 HARBOR DRIVE, DOCK H20': 65000.0,
 '0 HARBOR DRIVE, DOCK M-5': 63000.0,
 '0 HARD HILL RD S': 247500.0,
 '0 HAZARD LANE': 780000.0,
 '0 HERBERT & 62 HERBERT': 350000.0,
 '0 HOBBS ISLAND': 366000.0,
 '0 HOPE STREET': 415000.0,
 '0 HURLINGHAM DRIVE': 103017.0,
 '0 JUNE ROAD (AKA 38 GUINEA RD)': 850000.0,
 '0 LEDGEBROOK DR': 12000.0,
 '0 LEDGEBROOK DR 11GL1': 15000.0,
 '0 LEDGEBROOK DR 11GL10': 22500.0,
 '0 LLOYD ST': 181100.0,
 '0 LONG RIDGE ROAD': 679194.0,
 '0 LOOP RD': 389900.0,
 '0 MAYAPPLE ROAD': 493500.0,
 '0 MEADOW PARK AVENUE SOUTH': 510000.0,
 '0 MORRIS STREET': 370000.0,
 '0 NEW RD.': 600000.0,
 '0 NEWFIELD AVENUE': 1232500.0,
 '0 NICHOLS AVENUE': 473250.0,
 '0 NORTH ST': 1700000.0,
 '0 PARK DRIVE; MBLU:  29-2/16/2': 438000.0,
 '0 PECK LN': 450000.0,
 '0 PEPPER RIDGE ROAD': 600000.0,
 '0 PINE HILL TERRACE': 427500.0,
 '0 POPES ISLAND RD': 20000.0,
 '0 POPES ISLAND RD, UNIT G-14': 25000.0,
 '0 PUTNAM AVENUE 1B': 962500.0,
 '0 QUIDNET CT': 14000.0,
 '0 RALPH AVE LT 209': 84250.0,
 '0 REDMONT ROAD': 488000.0,
 '0 RIVER LANE': 985000.0,
 '0 ROCKY POINT RD': 4000000.0,
 '0 ROWAYTON WOODS DR': 19667.0,
 '0 ROWAYTON WOODS DR #206': 750000.0,
 '0 ROWAYTON WOODS DR 23': 20000.0,
 '0 ROWAYTON WOODS DR 28': 22000.0,
 '0 ROWAYTON WOODS DR 4': 20000.0,
 '0 ROWAYTON WOODS DR 54': 20000.0,
 '0 ROXBURY ROAD': 625000.0,
 '0 SAWMILL ROAD': 690000.0,
 '0 SEATON ROAD GAR #G-9': 25000.0,
 '0 SEATON ROAD GARAGE G8': 9090.0,
 '0 SHADOW RIDGE ROAD': 590000.0,
 '0 SHEFFIELD IS': 21000.0,
 '0 SOUTHFIELD AVE DOCK # 27': 35000.0,
 '0 SOUTHFIELD AVE DOCK # B-21': 15000.0,
 '0 SOUTHFIELD AVE DOCK 16': 30000.0,
 '0 SOUTHFIELD AVE DOCK 30': 35000.0,
 '0 SOUTHFIELD AVE DOCK# 20': 525000.0,
 '0 SOUTHFIELD AVE DOCK# 4': 400000.0,
 '0 SOUTHFIELD AVE#3': 33000.0,
 '0 SOUTHFIELD AVENUE': 32200.0,
 '0 SOUTHFIELD AVENUE # 12': 30000.0,
 '0 SOUTHFIELD AVENUE # 32': 30000.0,
 '0 SOUTHFIELD AVENUE # 5': 34500.0,
 '0 SOUTHFIELD AVENUE #1': 30000.0,
 '0 SOUTHFIELD AVENUE 23': 1000000.0,
 '0 SOUTHFIELD AVENUE DOCK # 11': 545000.0,
 '0 SOUTHFIELD AVENUE DOCK # 18': 35000.0,
 '0 SOUTHFIELD AVENUE DOCK# 44': 40000.0,
 '0 SOUTHFIELD AVENUE DOCK2': 668000.0,
 '0 SOUTHFILED AVE DOCK UNIT # 5': 17500.0,
 '0 SOUTHPORT WOODS DRIVE': 25000.0,
 '0 SPRING ST &': 736000.0,
 '0 SQUAW ROCK RD': 120000.0,
 '0 STILLWATER ROAD': 535000.0,
 '0 STILLWATER ROAD AKA 1 PALMER': 550000.0,
 '0 STRAWBERRY HILL AVE #39': 9000.0,
 '0 SUMER STREET APT S1262A': 242500.0,
 '0 SUMMER ST UTN1242A': 230000.0,
 '0 SUMMER STREET': 184250.0,
 '0 SUMMER STREET # 102-1B': 145000.0,
 '0 SUMMER STREET # 102-3C': 186000.0,
 '0 SUMMER STREET # 104-1A': 75000.0,
 '0 SUMMER STREET # 104-2A': 185000.0,
 '0 SUMMER STREET # 106-1A': 195000.0,
 '0 SUMMER STREET # 106-1D': 130000.0,
 '0 SUMMER STREET # 106-3C': 255000.0,
 '0 SUMMER STREET # 108-3A': 235000.0,
 '0 SUMMER STREET # 110-1C': 250000.0,
 '0 SUMMER STREET # 110-3B': 195000.0,
 '0 SUMMER STREET # 114-1C': 230000.0,
 '0 SUMMER STREET # 116-2B': 167000.0,
 '0 SUMMER STREET # 120-2A': 170000.0,
 '0 SUMMER STREET # 120-2B': 190000.0,
 '0 SUMMER STREET # 122-2B': 192500.0,
 '0 SUMMER STREET # 124-1C': 200000.0,
 '0 SUMMER STREET # 124-3C': 245000.0,
 '0 SUMMER STREET # 126-1A': 199100.0,
 '0 SUMMER STREET # 128-1C': 256500.0,
 '0 SUMMER STREET # 128-3A': 186000.0,
 '0 SUMMER STREET # 132-3D': 192000.0,
 '0 SUMMER STREET # 134-1': 180000.0,
 '0 SUMMER STREET # 134-2A': 202000.0,
 '0 SUMMER STREET # 136-F2': 220000.0,
 '0 SUMMER STREET # 138-1A': 190000.0,
 '0 SUMMER STREET # 138-1B': 257000.0,
 '0 SUMMER STREET # 140-2B': 160000.0,
 '0 SUMMER STREET # 7': 143000.0,
 '0 SUMMER STREET # N1023A': 235000.0,
 '0 SUMMER STREET # N1063A': 200000.0,
 '0 SUMMER STREET # N1122B': 135000.0,
 '0 SUMMER STREET # N1221B': 165000.0,
 '0 SUMMER STREET # S 126-2B': 138000.0,
 '0 SUMMER STREET # S1363A': 263000.0,
 '0 SUMMER STREET # S140-1': 130000.0,
 '0 SUMMER STREET #114-2C': 250000.0,
 '0 SUMMER STREET #114-3C': 242000.0,
 '0 SUMMER STREET #116-2A': 195000.0,
 '0 SUMMER STREET #138-2D': 125000.0,
 '0 SUMMER STREET #140-3D': 84000.0,
 '0 SUMMER STREET #3B': 214000.0,
 '0 SUMMER STREET #N102-21': 225500.0,
 '0 SUMMER STREET #N102-4': 90000.0,
 '0 SUMMER STREET #N1023C': 136000.0,
 '0 SUMMER STREET #N1103B': 211500.0,
 '0 SUMMER STREET #N1122B': 135000.0,
 '0 SUMMER STREET #S1322C': 164750.0,
 '0 SUMMER STREET #S1381B': 122500.0,
 '0 SUMMER STREET #S1402D': 110000.0,
 '0 SUMMER STREET 100-7': 130000.0,
 '0 SUMMER STREET 118-2B': 260000.0,
 '0 SUMMER STREET 138 1A': 197750.0,
 '0 SUMMER STREET APT 102-2B': 165000.0,
 '0 SUMMER STREET APT N1023B': 165500.0,
 '0 SUMMER STREET N1003A': 205000.0,
 '0 SUMMER STREET N1022C': 170100.0,
 '0 SUMMER STREET N1062A': 203000.0,
 '0 SUMMER STREET N1062B': 136000.0,
 '0 SUMMER STREET N1101A': 207000.0,
 '0 SUMMER STREET N1101C': 200000.0,
 '0 SUMMER STREET N1121B': 163000.0,
 '0 SUMMER STREET N1142C': 195500.0,
 '0 SUMMER STREET N1163B': 169000.0,
 '0 SUMMER STREET N1182A': 208000.0,
 '0 SUMMER STREET N1201A': 154000.0,
 '0 SUMMER STREET N1202A': 154000.0,
 '0 SUMMER STREET N1242A': 125000.0,
 '0 SUMMER STREET N1243B': 211750.0,
 '0 SUMMER STREET S1261B': 161000.0,
 '0 SUMMER STREET S1263B': 230000.0,
 '0 SUMMER STREET S1263C': 185000.0,
 '0 SUMMER STREET S1281B': 105000.0,
 '0 SUMMER STREET S1281C': 228000.0,
 '0 SUMMER STREET S1301B': 143000.0,
 '0 SUMMER STREET S1302A': 100000.0,
 '0 SUMMER STREET S1303A': 120000.0,
 '0 SUMMER STREET S138-2': 140000.0,
 '0 SUMMER STREET S1383A': 255000.0,
 '0 SUMMER STREET S1383B': 177000.0,
 '0 SUMMER STREET S1401A': 181700.0,
 '0 SUMMER STREET S1401B': 182000.0,
 '0 SUMMER STREET S1402C': 230000.0,
 '0 SUMMER STREET UNIT 112-2A': 130000.0,
 '0 SUMMER STREET UNIT N1063C': 260000.0,
 '0 SUMMER STREET UT 114-1A': 149000.0,
 '0 SUMMER STREET UT S1261D': 150000.0,
 '0 SUMMER STREET UT S1263A': 256000.0,
 '0 SUMMER STREET UTN1022D': 148000.0,
 '0 SUMMER STREET, UNIT N1141C': 242000.0,
 '0 SUMMER STREET, UNIT S1403C': 250000.0,
 '0 SUMMIT RIDGE': 430000.0,
 '0 SUNSET ROAD': 477000.0,
 '0 THOMASTON RD': 50000.0,
 '0 TRAVIS AVENUE': 199500.0,
 '0 TURN OF RIVER RD AKA 1239 HI': 540000.0,
 '0 TURNER DRIVE': 700000.0,
 '0 TUTTLE STREET #1': 172500.0,
 '0 UPLAND ROAD': 455000.0,
 '0 VAN RENSSELAER AVE': 1362500.0,
 '0 VAN RENSSELAER AVENUE': 1285000.0,
 '0 WEST AVE # 2C': 166000.0,
 '0 WEST AVENUE': 650000.0,
 '0 WEST AVENUE # 3-E': 165000.0,
 '0 WEST AVENUE # 3A': 160000.0,
 '0 WEST AVENUE # 3H': 118900.0,
 '0 WEST AVENUE #3G': 210000.0,
 '0 WEST AVENUE 2C': 163500.0,
 '0 WEST AVENUE UNIT 2E': 172500.0,
 '0 WEST AVENUE UT3F': 196000.0,
 '0 WEST VIEW LANE': 867500.0,
 '0 WESTOVER ROAD': 592000.0,
 '0 WESTWOOD ROAD': 637500.0,
 '0 WINDELL PLACE': 235000.0,
 '0 WINDELL PLACE # 4': 252000.0,
 '0 WINDELL PLACE # 9': 180000.0,
 '0 WIRE MILL RD (AKA 1 CEDAR TR': 560000.0,
 '0 WIRE MILL ROAD': 338000.0,
 '0 WOODBINE ROAD': 710000.0,
 '0 WOODWAY ROAD': 501500.0,
 '0,59&69 PHILLIPS RD': 100000.0,
 '00 ASPETUCK HILL LANE': 1175000.0,
 '00, 85, 89 LAKE AVE': 1140000.0,
 '000 LONG HILL RD': 150000.0,
 '0000 & 35 STRICKLAND RD': 1050000.0,
 '0000 RIVER LANE': 893000.0,
 '0000 STANWICH RD': 5620000.0,
 '006 PAYNE RD': 380000.0,
 '006-0038': 1250000.0,
 '016 KINGSWOOD DR': 400000.0,
 '02A BEACH ST UT 1': 197000.0,
 '030A WOOSTER ST': 286000.0,
 '04 KAYVIEW AVE': 400000.0,
 '04 WASHINGTON ST': 154000.0,
 '05 PLEASANT ST': 340000.0,
 '05-07 JUNIPER RD': 489000.0,
 '056 ROCKWELL RD': 550000.0,
 '056 SMITH ST': 276000.0,
 '06 & 08 DRUMMERS LN': 425000.0,
 '06 & 08 GRANITE DRIVE': 300200.0,
 '06 EAGLE ROCK HL': 260000.0,
 '06 KEELER AVE': 375000.0,
 '06 OVEN ROCK RD': 325000.0,
 '06 WOODLAWN DR': 367500.0,
 '060 WALNUT HL RD': 380000.0,
 '060 WESTCHESTER RD': 269900.0,
 '06D BEACH ST': 214000.0,
 "07 AUNT PATTY'S LN W": 670000.0,
 '07 BETHPAGE DR': 282000.0,
 '074 WOOSTER ST': 308000.0,
 '08 LAURA LN UT 8': 216000.0,
 '0803 LEXINGTON BLVD': 186270.0,
 '087 PLUMTREES RD': 240000.0,
 '09 CANAAN DR': 269000.0,
 '09 CASTLE HL DR': 275000.0,
 '09 HENRY ST': 350000.0,
 '095 NASHVILLE RD': 260000.0,
 '1  ACORN LANE': 819000.0,
 '1  BARJUNE RD': 402500.0,
 '1  BIRCH DR': 250000.0,
 '1  BUTTERNUT LANE': 375000.0,
 '1  CAMELOT CREST ROAD': 305000.0,
 '1  EAST AVE': 450000.0,
 '1  EASTWOOD RD': 495000.0,
 '1  FILBERT RD': 381050.0,
 '1  GLENROCK  UNIT# A1': 215000.0,
 '1  HAWKINS AVE': 525000.0,
 '1  HOLLOW TREE RD': 295000.0,
 '1  HORIZON DR  UNIT #3': 247500.0,
 '1  ISLAND DR  UNIT # 7': 560000.0,
 '1  ISLAND DR, UNIT # 14': 620000.0,
 '1  LINCOLN AVE': 231750.0,
 '1  LINDEN ST UNIT # A-4': 237500.0,
 '1  LINDEN ST, UNIT # C8': 228500.0,
 '1  LINDENWOODS RD': 322000.0,
 '1  LITTLE WAY': 530000.0,
 '1  MARVIN ST': 609000.0,
 '1  NORTH TAYLOR AVE': 190000.0,
 '1  SUBURBAN DR': 428000.0,
 '1  THAMES ST': 210000.0,
 '1  TULIP TREE LANE': 555000.0,
 '1  WALTER AV, UNIT # 44': 110000.0,
 '1  WEST MAIN ST': 472000.0,
 '1 & 10 MAIN STREET UNIT 220': 208900.0,
 '1 & 10 MAIN STREET UNIT 326': 310000.0,
 '1 & 10 MAIN STREET UNIT 424': 205000.0,
 '1 & 192 SPRING HOUSE ROAD': 2850000.0,
 '1 & 2 QUARRY CORNER': 332500.0,
 '1 & 3 CEDAR CREST DR': 433575.0,
 '1 & 3 KNOLLWOOD DRIVE': 230000.0,
 '1 & 3 LAKE DR BP': 197000.0,
 '1 & 3 OSPREY LA': 1685000.0,
 '1 & 3 PRATT FARM LN': 552500.0,
 '1 & 3 SHELDON CIRCLE': 262000.0,
 '1 & 5R QUAIL LN': 310000.0,
 '1 & 7 PRESTON CITY RD': 325000.0,
 '1 - 9 ADNA RD': 235000.0,
 '1 -4 NORTHWOOD PL': 33500.0,
 '1 05 PLYMOUTH COLONY': 230000.0,
 '1 1/2  MERRILL RD': 435000.0,
 '1 1/2 COLONY PL': 575000.0,
 '1 1/2 HIGHLAND AVENUE': 196000.0,
 '1 1/2 INDIAN SPRING RD': 2162500.0,
 '1 A ST': 44300.0,
 '1 A ST ANDREWS DR': 780000.0,
 '1 ABBE LANE': 575000.0,
 '1 ABBEWOOD': 225000.0,
 '1 ABBEY LANE': 290750.0,
 '1 ABBEY PARK': 175000.0,
 '1 ABBOT RD #147': 83000.0,
 '1 ABBOT RD UT 146': 142000.0,
 '1 ABBOTT RD # 74': 118000.0,
 '1 ABBOTT RD #1': 107000.0,
 '1 ABBOTT RD #10': 95000.0,
 '1 ABBOTT RD #100': 145000.0,
 '1 ABBOTT RD #103': 115000.0,
 '1 ABBOTT RD #104': 120000.0,
 '1 ABBOTT RD #11': 107000.0,
 '1 ABBOTT RD #111': 119500.0,
 '1 ABBOTT RD #112': 115000.0,
 '1 ABBOTT RD #115': 117750.0,
 '1 ABBOTT RD #116': 98700.0,
 '1 ABBOTT RD #121': 88828.0,
 '1 ABBOTT RD #123': 119000.0,
 '1 ABBOTT RD #124': 131000.0,
 '1 ABBOTT RD #125': 125000.0,
 '1 ABBOTT RD #127': 65000.0,
 '1 ABBOTT RD #130': 123000.0,
 '1 ABBOTT RD #135': 137000.0,
 '1 ABBOTT RD #136': 136000.0,
 '1 ABBOTT RD #137': 139000.0,
 '1 ABBOTT RD #139': 135450.0,
 '1 ABBOTT RD #14': 130000.0,
 '1 ABBOTT RD #141': 126500.0,
 '1 ABBOTT RD #142': 138000.0,
 '1 ABBOTT RD #143': 114500.0,
 '1 ABBOTT RD #144': 139000.0,
 '1 ABBOTT RD #145': 113000.0,
 '1 ABBOTT RD #147': 69000.0,
 '1 ABBOTT RD #148': 115000.0,
 '1 ABBOTT RD #149': 122000.0,
 '1 ABBOTT RD #15': 129500.0,
 '1 ABBOTT RD #152': 107167.0,
 '1 ABBOTT RD #157': 139000.0,
 '1 ABBOTT RD #158': 87000.0,
 '1 ABBOTT RD #16': 78280.0,
 '1 ABBOTT RD #161': 81000.0,
 '1 ABBOTT RD #162': 112000.0,
 '1 ABBOTT RD #164': 110250.0,
 '1 ABBOTT RD #166': 80000.0,
 '1 ABBOTT RD #167': 114750.0,
 '1 ABBOTT RD #17': 118450.0,
 '1 ABBOTT RD #171': 94900.0,
 '1 ABBOTT RD #173': 150000.0,
 '1 ABBOTT RD #176': 150000.0,
 '1 ABBOTT RD #180': 113000.0,
 '1 ABBOTT RD #181': 89000.0,
 '1 ABBOTT RD #183': 92000.0,
 '1 ABBOTT RD #19': 116500.0,
 '1 ABBOTT RD #196': 118000.0,
 '1 ABBOTT RD #197': 96750.0,
 '1 ABBOTT RD #198': 126750.0,
 '1 ABBOTT RD #199': 118000.0,
 '1 ABBOTT RD #2': 126700.0,
 '1 ABBOTT RD #20': 124550.0,
 '1 ABBOTT RD #201': 140000.0,
 '1 ABBOTT RD #203': 123200.0,
 '1 ABBOTT RD #204': 115000.0,
 '1 ABBOTT RD #205': 105000.0,
 '1 ABBOTT RD #207': 124000.0,
 '1 ABBOTT RD #21': 104000.0,
 '1 ABBOTT RD #24': 95300.0,
 '1 ABBOTT RD #25': 109000.0,
 '1 ABBOTT RD #27': 112500.0,
 '1 ABBOTT RD #28': 110000.0,
 '1 ABBOTT RD #3': 105500.0,
 '1 ABBOTT RD #33': 92775.0,
 '1 ABBOTT RD #37': 117000.0,
 '1 ABBOTT RD #38': 95000.0,

In [41]:
# create a dict for mean of the Assessed Value column per town and property type
mean_assessed_value_per_town = df1_assessed_and_sale_above100.groupby(['Town','Property Type'])['Assessed Value'].mean().round(0).to_dict()
mean_assessed_value_per_town

{('***Unknown***', 'Single Family'): 66540.0,
 ('Andover', 'Nan'): 94300.0,
 ('Andover', 'Residential'): 176346.0,
 ('Andover', 'Single Family'): 175162.0,
 ('Andover', 'Two Family'): 158184.0,
 ('Andover', 'Vacant Land'): 212729.0,
 ('Ansonia', 'Apartments'): 244850.0,
 ('Ansonia', 'Commercial'): 343212.0,
 ('Ansonia', 'Condo'): 111300.0,
 ('Ansonia', 'Four Family'): 158248.0,
 ('Ansonia', 'Industrial'): 253000.0,
 ('Ansonia', 'Nan'): 129481.0,
 ('Ansonia', 'Residential'): 129499.0,
 ('Ansonia', 'Single Family'): 136143.0,
 ('Ansonia', 'Three Family'): 142221.0,
 ('Ansonia', 'Two Family'): 127592.0,
 ('Ansonia', 'Vacant Land'): 61370.0,
 ('Ashford', 'Apartments'): 1520250.0,
 ('Ashford', 'Commercial'): 186900.0,
 ('Ashford', 'Condo'): 41580.0,
 ('Ashford', 'Nan'): 132060.0,
 ('Ashford', 'Residential'): 139845.0,
 ('Ashford', 'Single Family'): 137805.0,
 ('Ashford', 'Three Family'): 363700.0,
 ('Ashford', 'Two Family'): 169568.0,
 ('Ashford', 'Vacant Land'): 35476.0,
 ('Avon', 'Commercial'): 2217837.0,
 ('Avon', 'Condo'): 191637.0,
 ('Avon', 'Industrial'): 299130.0,
 ('Avon', 'Nan'): 289807.0,
 ('Avon', 'Residential'): 288198.0,
 ('Avon', 'Single Family'): 357501.0,
 ('Avon', 'Three Family'): 223150.0,
 ('Avon', 'Two Family'): 219240.0,
 ('Avon', 'Vacant Land'): 116393.0,
 ('Barkhamsted', 'Commercial'): 146900.0,
 ('Barkhamsted', 'Industrial'): 554370.0,
 ('Barkhamsted', 'Nan'): 123048.0,
 ('Barkhamsted', 'Residential'): 165637.0,
 ('Barkhamsted', 'Single Family'): 173088.0,
 ('Barkhamsted', 'Three Family'): 333980.0,
 ('Barkhamsted', 'Two Family'): 234285.0,
 ('Barkhamsted', 'Vacant Land'): 65991.0,
 ('Beacon Falls', 'Commercial'): 95290.0,
 ('Beacon Falls', 'Condo'): 217834.0,
 ('Beacon Falls', 'Industrial'): 78580.0,
 ('Beacon Falls', 'Nan'): 135822.0,
 ('Beacon Falls', 'Residential'): 130918.0,
 ('Beacon Falls', 'Single Family'): 159611.0,
 ('Beacon Falls', 'Two Family'): 170103.0,
 ('Beacon Falls', 'Vacant Land'): 57001.0,
 ('Berlin', 'Commercial'): 404028.0,
 ('Berlin', 'Condo'): 461999.0,
 ('Berlin', 'Four Family'): 231200.0,
 ('Berlin', 'Industrial'): 133200.0,
 ('Berlin', 'Nan'): 227050.0,
 ('Berlin', 'Residential'): 186735.0,
 ('Berlin', 'Single Family'): 189511.0,
 ('Berlin', 'Three Family'): 166900.0,
 ('Berlin', 'Two Family'): 165266.0,
 ('Berlin', 'Vacant Land'): 164900.0,
 ('Bethany', 'Commercial'): 536820.0,
 ('Bethany', 'Condo'): 244720.0,
 ('Bethany', 'Nan'): 175829.0,
 ('Bethany', 'Residential'): 228012.0,
 ('Bethany', 'Single Family'): 235372.0,
 ('Bethany', 'Two Family'): 355060.0,
 ('Bethany', 'Vacant Land'): 85051.0,
 ('Bethel', 'Commercial'): 579879.0,
 ('Bethel', 'Condo'): 323431.0,
 ('Bethel', 'Four Family'): 222447.0,
 ('Bethel', 'Industrial'): 94780.0,
 ('Bethel', 'Nan'): 204422.0,
 ('Bethel', 'Residential'): 217786.0,
 ('Bethel', 'Single Family'): 237688.0,
 ('Bethel', 'Three Family'): 256875.0,
 ('Bethel', 'Two Family'): 222900.0,
 ('Bethel', 'Vacant Land'): 121554.0,
 ('Bethlehem', 'Commercial'): 84900.0,
 ('Bethlehem', 'Condo'): 195925.0,
 ('Bethlehem', 'Four Family'): 146600.0,
 ('Bethlehem', 'Nan'): 149382.0,
 ('Bethlehem', 'Residential'): 199277.0,
 ('Bethlehem', 'Single Family'): 217670.0,
 ('Bethlehem', 'Two Family'): 260267.0,
 ('Bethlehem', 'Vacant Land'): 93336.0,
 ('Bloomfield', 'Commercial'): 1449086.0,
 ('Bloomfield', 'Condo'): 166325.0,
 ('Bloomfield', 'Industrial'): 1104515.0,
 ('Bloomfield', 'Nan'): 276121.0,
 ('Bloomfield', 'Residential'): 158002.0,
 ('Bloomfield', 'Single Family'): 150800.0,
 ('Bloomfield', 'Two Family'): 121727.0,
 ('Bloomfield', 'Vacant Land'): 106372.0,
 ('Bolton', 'Commercial'): 296733.0,
 ('Bolton', 'Condo'): 273800.0,
 ('Bolton', 'Nan'): 149018.0,
 ('Bolton', 'Residential'): 191379.0,
 ('Bolton', 'Single Family'): 189900.0,
 ('Bolton', 'Two Family'): 149343.0,
 ('Bolton', 'Vacant Land'): 113445.0,
 ('Bozrah', 'Commercial'): 1288170.0,
 ('Bozrah', 'Industrial'): 176080.0,
 ('Bozrah', 'Nan'): 141092.0,
 ('Bozrah', 'Residential'): 133603.0,
 ('Bozrah', 'Single Family'): 145031.0,
 ('Bozrah', 'Two Family'): 192784.0,
 ('Bozrah', 'Vacant Land'): 163704.0,
 ('Branford', 'Apartments'): 715987.0,
 ('Branford', 'Commercial'): 644442.0,
 ('Branford', 'Condo'): 130220.0,
 ('Branford', 'Four Family'): 221820.0,
 ('Branford', 'Industrial'): 2468750.0,
 ('Branford', 'Nan'): 199184.0,
 ('Branford', 'Residential'): 198459.0,
 ('Branford', 'Single Family'): 259532.0,
 ('Branford', 'Three Family'): 249392.0,
 ('Branford', 'Two Family'): 206499.0,
 ('Branford', 'Vacant Land'): 234531.0,
 ('Bridgeport', 'Commercial'): 6253985.0,
 ('Bridgeport', 'Condo'): 114225.0,
 ('Bridgeport', 'Four Family'): 184584.0,
 ('Bridgeport', 'Nan'): 450557.0,
 ('Bridgeport', 'Residential'): 141388.0,
 ('Bridgeport', 'Single Family'): 159711.0,
 ('Bridgeport', 'Three Family'): 160140.0,
 ('Bridgeport', 'Two Family'): 141339.0,
 ('Bridgewater', 'Commercial'): 336000.0,
 ('Bridgewater', 'Condo'): 169523.0,
 ('Bridgewater', 'Industrial'): 673100.0,
 ('Bridgewater', 'Nan'): 280314.0,
 ('Bridgewater', 'Residential'): 523707.0,
 ('Bridgewater', 'Single Family'): 478433.0,
 ('Bridgewater', 'Vacant Land'): 173862.0,
 ('Bristol', 'Apartments'): 2006904.0,
 ('Bristol', 'Commercial'): 583307.0,
 ('Bristol', 'Condo'): 82909.0,
 ('Bristol', 'Four Family'): 147817.0,
 ('Bristol', 'Industrial'): 965300.0,
 ('Bristol', 'Nan'): 130710.0,
 ('Bristol', 'Residential'): 120627.0,
 ('Bristol', 'Single Family'): 134168.0,
 ('Bristol', 'Three Family'): 136466.0,
 ('Bristol', 'Two Family'): 111356.0,
 ('Bristol', 'Vacant Land'): 72461.0,
 ('Brookfield', 'Commercial'): 461790.0,
 ('Brookfield', 'Condo'): 173987.0,
 ('Brookfield', 'Four Family'): 698740.0,
 ('Brookfield', 'Industrial'): 2369459.0,
 ('Brookfield', 'Nan'): 282733.0,
 ('Brookfield', 'Residential'): 247212.0,
 ('Brookfield', 'Single Family'): 309631.0,
 ('Brookfield', 'Three Family'): 467110.0,
 ('Brookfield', 'Two Family'): 313967.0,
 ('Brookfield', 'Vacant Land'): 94179.0,
 ('Brooklyn', 'Condo'): 102130.0,
 ('Brooklyn', 'Four Family'): 151930.0,
 ('Brooklyn', 'Nan'): 114180.0,
 ('Brooklyn', 'Single Family'): 138836.0,
 ('Brooklyn', 'Three Family'): 140464.0,
 ('Brooklyn', 'Two Family'): 115138.0,
 ('Burlington', 'Apartments'): 1652560.0,
 ('Burlington', 'Condo'): 140588.0,
 ('Burlington', 'Four Family'): 160930.0,
 ('Burlington', 'Nan'): 186416.0,
 ('Burlington', 'Residential'): 216044.0,
 ('Burlington', 'Single Family'): 228473.0,
 ('Burlington', 'Three Family'): 237300.0,
 ('Burlington', 'Two Family'): 165048.0,
 ('Burlington', 'Vacant Land'): 104032.0,
 ('Canaan', 'Four Family'): 168400.0,
 ('Canaan', 'Nan'): 136367.0,
 ('Canaan', 'Residential'): 193825.0,
 ('Canaan', 'Single Family'): 214148.0,
 ('Canaan', 'Two Family'): 242800.0,
 ('Canaan', 'Vacant Land'): 77850.0,
 ('Canterbury', 'Condo'): 28200.0,
 ('Canterbury', 'Four Family'): 216400.0,
 ('Canterbury', 'Nan'): 88439.0,
 ('Canterbury', 'Single Family'): 151596.0,
 ('Canterbury', 'Two Family'): 207183.0,
 ('Canton', 'Apartments'): 278230.0,
 ('Canton', 'Commercial'): 474784.0,
 ('Canton', 'Condo'): 128580.0,
 ('Canton', 'Four Family'): 215620.0,
 ('Canton', 'Nan'): 161720.0,
 ('Canton', 'Residential'): 208831.0,
 ('Canton', 'Single Family'): 252133.0,
 ('Canton', 'Three Family'): 190240.0,
 ('Canton', 'Two Family'): 167048.0,
 ('Canton', 'Vacant Land'): 108564.0,
 ('Chaplin', 'Commercial'): 484550.0,
 ('Chaplin', 'Condo'): 73827.0,
 ('Chaplin', 'Four Family'): 144750.0,
 ('Chaplin', 'Nan'): 89778.0,
 ('Chaplin', 'Residential'): 133539.0,
 ('Chaplin', 'Single Family'): 130142.0,
 ('Chaplin', 'Two Family'): 146767.0,
 ('Chaplin', 'Vacant Land'): 47567.0,
 ('Cheshire', 'Apartments'): 434505.0,
 ('Cheshire', 'Commercial'): 944696.0,
 ('Cheshire', 'Condo'): 142056.0,
 ('Cheshire', 'Industrial'): 1981310.0,
 ('Cheshire', 'Nan'): 250483.0,
 ('Cheshire', 'Residential'): 205317.0,
 ('Cheshire', 'Single Family'): 228706.0,
 ('Cheshire', 'Three Family'): 206770.0,
 ('Cheshire', 'Two Family'): 200200.0,
 ('Cheshire', 'Vacant Land'): 261776.0,
 ('Chester', 'Commercial'): 389127.0,
 ('Chester', 'Condo'): 175480.0,
 ('Chester', 'Four Family'): 324850.0,
 ('Chester', 'Nan'): 224591.0,
 ('Chester', 'Residential'): 250143.0,
 ('Chester', 'Single Family'): 230155.0,
 ('Chester', 'Three Family'): 331280.0,
 ('Chester', 'Two Family'): 212655.0,
 ('Chester', 'Vacant Land'): 190079.0,
 ('Clinton', 'Condo'): 117493.0,
 ('Clinton', 'Four Family'): 199975.0,
 ('Clinton', 'Nan'): 144691.0,
 ('Clinton', 'Single Family'): 223249.0,
 ('Clinton', 'Three Family'): 211433.0,
 ('Clinton', 'Two Family'): 194709.0,
 ('Colchester', 'Apartments'): 4070000.0,
 ('Colchester', 'Commercial'): 501783.0,
 ('Colchester', 'Condo'): 152362.0,
 ('Colchester', 'Four Family'): 190260.0,
 ('Colchester', 'Nan'): 113926.0,
 ('Colchester', 'Residential'): 153824.0,
 ('Colchester', 'Single Family'): 171164.0,
 ('Colchester', 'Three Family'): 154444.0,
 ('Colchester', 'Two Family'): 161100.0,
 ('Colchester', 'Vacant Land'): 91005.0,
 ('Colebrook', 'Nan'): 106409.0,
 ('Colebrook', 'Residential'): 201699.0,
 ('Colebrook', 'Single Family'): 205591.0,
 ('Colebrook', 'Two Family'): 293214.0,
 ('Colebrook', 'Vacant Land'): 32595.0,
 ('Columbia', 'Commercial'): 577633.0,
 ('Columbia', 'Condo'): 175200.0,
 ('Columbia', 'Nan'): 120960.0,
 ('Columbia', 'Residential'): 187545.0,
 ('Columbia', 'Single Family'): 174919.0,
 ('Columbia', 'Three Family'): 364400.0,
 ('Columbia', 'Two Family'): 157262.0,
 ('Columbia', 'Vacant Land'): 48794.0,
 ('Cornwall', 'Commercial'): 191580.0,
 ('Cornwall', 'Nan'): 180421.0,
 ('Cornwall', 'Residential'): 421246.0,
 ('Cornwall', 'Single Family'): 377181.0,
 ('Cornwall', 'Two Family'): 245700.0,
 ('Cornwall', 'Vacant Land'): 134272.0,
 ('Coventry', 'Commercial'): 229620.0,
 ('Coventry', 'Condo'): 139105.0,
 ('Coventry', 'Four Family'): 312900.0,
 ('Coventry', 'Nan'): 106089.0,
 ('Coventry', 'Residential'): 158169.0,
 ('Coventry', 'Single Family'): 153739.0,
 ('Coventry', 'Three Family'): 134225.0,
 ('Coventry', 'Two Family'): 196461.0,
 ('Coventry', 'Vacant Land'): 97072.0,
 ('Cromwell', 'Commercial'): 3077066.0,
 ('Cromwell', 'Condo'): 119025.0,
 ('Cromwell', 'Four Family'): 153268.0,
 ('Cromwell', 'Industrial'): 734355.0,
 ('Cromwell', 'Nan'): 172522.0,
 ('Cromwell', 'Residential'): 152972.0,
 ('Cromwell', 'Single Family'): 190013.0,
 ('Cromwell', 'Three Family'): 217860.0,
 ('Cromwell', 'Two Family'): 215132.0,
 ('Cromwell', 'Vacant Land'): 242548.0,
 ('Danbury', 'Apartments'): 11253550.0,
 ('Danbury', 'Commercial'): 1714849.0,
 ('Danbury', 'Condo'): 141790.0,
 ('Danbury', 'Four Family'): 277069.0,
 ('Danbury', 'Industrial'): 2483010.0,
 ('Danbury', 'Nan'): 287958.0,
 ('Danbury', 'Residential'): 174879.0,
 ('Danbury', 'Single Family'): 212008.0,
 ('Danbury', 'Three Family'): 251686.0,
 ('Danbury', 'Two Family'): 193885.0,
 ('Danbury', 'Vacant Land'): 102410.0,
 ('Darien', 'Commercial'): 985413.0,
 ('Darien', 'Condo'): 517849.0,
 ('Darien', 'Nan'): 743347.0,
 ('Darien', 'Residential'): 1082770.0,
 ('Darien', 'Single Family'): 1084020.0,
 ('Darien', 'Two Family'): 982958.0,
 ('Darien', 'Vacant Land'): 1297718.0,
 ('Deep River', 'Condo'): 101001.0,
 ('Deep River', 'Four Family'): 375480.0,
 ('Deep River', 'Nan'): 185313.0,
 ('Deep River', 'Residential'): 97510.0,
 ('Deep River', 'Single Family'): 241774.0,
 ('Deep River', 'Three Family'): 169785.0,
 ('Deep River', 'Two Family'): 281758.0,
 ('Derby', 'Commercial'): 661682.0,
 ('Derby', 'Condo'): 111239.0,
 ('Derby', 'Four Family'): 181687.0,
 ('Derby', 'Nan'): 106795.0,
 ('Derby', 'Residential'): 138620.0,
 ('Derby', 'Single Family'): 148779.0,
 ('Derby', 'Three Family'): 135463.0,
 ('Derby', 'Two Family'): 135559.0,
 ('Derby', 'Vacant Land'): 20743.0,
 ('Durham', 'Condo'): 150792.0,
 ('Durham', 'Nan'): 158966.0,
 ('Durham', 'Single Family'): 235815.0,
 ('Durham', 'Two Family'): 196098.0,
 ('East Granby', 'Commercial'): 143950.0,
 ('East Granby', 'Condo'): 191293.0,
 ('East Granby', 'Four Family'): 358800.0,
 ('East Granby', 'Industrial'): 1438267.0,
 ('East Granby', 'Nan'): 192031.0,
 ('East Granby', 'Residential'): 181180.0,
 ('East Granby', 'Single Family'): 191563.0,
 ('East Granby', 'Two Family'): 160933.0,
 ('East Granby', 'Vacant Land'): 76912.0,
 ('East Haddam', 'Commercial'): 354028.0,
 ('East Haddam', 'Condo'): 229864.0,
 ('East Haddam', 'Nan'): 120233.0,
 ('East Haddam', 'Residential'): 168309.0,
 ('East Haddam', 'Single Family'): 179622.0,
 ('East Haddam', 'Three Family'): 222784.0,
 ('East Haddam', 'Two Family'): 207173.0,
 ('East Haddam', 'Vacant Land'): 56816.0,
 ('East Hampton', 'Condo'): 114738.0,
 ('East Hampton', 'Four Family'): 218977.0,
 ('East Hampton', 'Nan'): 136992.0,
 ('East Hampton', 'Single Family'): 181448.0,
 ('East Hampton', 'Three Family'): 166074.0,
 ('East Hampton', 'Two Family'): 170411.0,
 ('East Hartford', 'Apartments'): 2301102.0,
 ('East Hartford', 'Commercial'): 855928.0,
 ('East Hartford', 'Condo'): 83935.0,
 ('East Hartford', 'Four Family'): 165182.0,
 ('East Hartford', 'Industrial'): 305875.0,
 ('East Hartford', 'Nan'): 152911.0,
 ('East Hartford', 'Residential'): 103772.0,
 ('East Hartford', 'Single Family'): 108575.0,
 ('East Hartford', 'Three Family'): 132188.0,
 ('East Hartford', 'Two Family'): 135446.0,
 ('East Hartford', 'Vacant Land'): 53183.0,
 ('East Haven', 'Apartments'): 635380.0,
 ('East Haven', 'Commercial'): 620121.0,
 ('East Haven', 'Condo'): 122333.0,
 ('East Haven', 'Four Family'): 288315.0,
 ('East Haven', 'Industrial'): 1393500.0,
 ('East Haven', 'Nan'): 149742.0,
 ('East Haven', 'Residential'): 139940.0,
 ('East Haven', 'Single Family'): 154179.0,
 ('East Haven', 'Three Family'): 197208.0,
 ('East Haven', 'Two Family'): 170687.0,
 ('East Haven', 'Vacant Land'): 65491.0,
 ('East Lyme', 'Commercial'): 453844.0,
 ('East Lyme', 'Condo'): 233536.0,
 ('East Lyme', 'Four Family'): 223755.0,
 ('East Lyme', 'Industrial'): 658070.0,
 ('East Lyme', 'Nan'): 182737.0,
 ('East Lyme', 'Residential'): 232493.0,
 ('East Lyme', 'Single Family'): 243668.0,
 ('East Lyme', 'Three Family'): 217315.0,
 ('East Lyme', 'Two Family'): 178184.0,
 ('East Lyme', 'Vacant Land'): 134948.0,
 ('East Windsor', 'Apartments'): 204750.0,
 ('East Windsor', 'Commercial'): 236498.0,
 ('East Windsor', 'Condo'): 111112.0,
 ('East Windsor', 'Four Family'): 121880.0,
 ('East Windsor', 'Industrial'): 323700.0,
 ('East Windsor', 'Nan'): 187517.0,
 ('East Windsor', 'Residential'): 128358.0,
 ('East Windsor', 'Single Family'): 129935.0,
 ('East Windsor', 'Three Family'): 130159.0,
 ('East Windsor', 'Two Family'): 137238.0,
 ('East Windsor', 'Vacant Land'): 64985.0,
 ('Eastford', 'Commercial'): 523495.0,
 ('Eastford', 'Condo'): 101174.0,
 ('Eastford', 'Industrial'): 1722920.0,
 ('Eastford', 'Nan'): 102755.0,
 ('Eastford', 'Residential'): 151272.0,
 ('Eastford', 'Single Family'): 158001.0,
 ('Eastford', 'Three Family'): 116665.0,
 ('Eastford', 'Vacant Land'): 86522.0,
 ('Easton', 'Condo'): 340714.0,
 ('Easton', 'Nan'): 353588.0,
 ('Easton', 'Residential'): 451978.0,
 ('Easton', 'Single Family'): 477187.0,
 ('Easton', 'Two Family'): 368490.0,
 ('Easton', 'Vacant Land'): 151035.0,
 ('Ellington', 'Condo'): 149230.0,
 ('Ellington', 'Four Family'): 183725.0,
 ('Ellington', 'Nan'): 123434.0,
 ('Ellington', 'Single Family'): 205962.0,
 ('Ellington', 'Three Family'): 191193.0,
 ('Ellington', 'Two Family'): 176407.0,
 ('Enfield', 'Commercial'): 470815.0,
 ('Enfield', 'Condo'): 119193.0,
 ('Enfield', 'Four Family'): 148178.0,
 ('Enfield', 'Industrial'): 4847390.0,
 ('Enfield', 'Nan'): 203814.0,
 ('Enfield', 'Residential'): 128816.0,
 ('Enfield', 'Single Family'): 132631.0,
 ('Enfield', 'Three Family'): 144806.0,
 ('Enfield', 'Two Family'): 131535.0,
 ('Enfield', 'Vacant Land'): 106540.0,
 ('Essex', 'Commercial'): 375783.0,
 ('Essex', 'Condo'): 162910.0,
 ('Essex', 'Industrial'): 338167.0,
 ('Essex', 'Nan'): 244368.0,
 ('Essex', 'Residential'): 318850.0,
 ('Essex', 'Single Family'): 341201.0,
 ('Essex', 'Three Family'): 235400.0,
 ('Essex', 'Two Family'): 385223.0,
 ('Essex', 'Vacant Land'): 223618.0,
 ('Fairfield', 'Condo'): 354450.0,
 ('Fairfield', 'Four Family'): 344246.0,
 ('Fairfield', 'Nan'): 402925.0,
 ('Fairfield', 'Single Family'): 523295.0,
 ('Fairfield', 'Three Family'): 355095.0,
 ('Fairfield', 'Two Family'): 291251.0,
 ('Farmington', 'Apartments'): 3559695.0,
 ('Farmington', 'Commercial'): 2771768.0,
 ('Farmington', 'Condo'): 184075.0,
 ('Farmington', 'Four Family'): 238938.0,
 ('Farmington', 'Industrial'): 992480.0,
 ('Farmington', 'Nan'): 345239.0,
 ('Farmington', 'Residential'): 224690.0,
 ('Farmington', 'Single Family'): 298935.0,
 ('Farmington', 'Three Family'): 238093.0,
 ('Farmington', 'Two Family'): 199751.0,
 ('Farmington', 'Vacant Land'): 115616.0,
 ('Franklin', 'Apartments'): 269850.0,
 ('Franklin', 'Commercial'): 250255.0,
 ('Franklin', 'Nan'): 148827.0,
 ('Franklin', 'Residential'): 153054.0,
 ('Franklin', 'Single Family'): 154242.0,
 ('Franklin', 'Two Family'): 50160.0,
 ('Franklin', 'Vacant Land'): 104223.0,
 ('Glastonbury', 'Apartments'): 280300.0,
 ('Glastonbury', 'Commercial'): 803136.0,
 ('Glastonbury', 'Condo'): 168377.0,
 ('Glastonbury', 'Four Family'): 271878.0,
 ('Glastonbury', 'Industrial'): 558450.0,
 ('Glastonbury', 'Nan'): 285221.0,
 ('Glastonbury', 'Residential'): 238875.0,
 ('Glastonbury', 'Single Family'): 269002.0,
 ('Glastonbury', 'Three Family'): 222300.0,
 ('Glastonbury', 'Two Family'): 207802.0,
 ('Glastonbury', 'Vacant Land'): 101655.0,
 ('Goshen', 'Commercial'): 625510.0,
 ('Goshen', 'Condo'): 141591.0,
 ('Goshen', 'Four Family'): 252340.0,
 ('Goshen', 'Nan'): 162594.0,
 ('Goshen', 'Residential'): 326335.0,
 ('Goshen', 'Single Family'): 280633.0,
 ('Goshen', 'Two Family'): 193543.0,
 ('Goshen', 'Vacant Land'): 156649.0,
 ('Granby', 'Commercial'): 286277.0,
 ('Granby', 'Condo'): 130108.0,
 ('Granby', 'Nan'): 147120.0,
 ('Granby', 'Public Utility'): 154210.0,
 ('Granby', 'Residential'): 202918.0,
 ('Granby', 'Single Family'): 207716.0,
 ('Granby', 'Three Family'): 147280.0,
 ('Granby', 'Two Family'): 161504.0,
 ('Granby', 'Vacant Land'): 148496.0,
 ('Greenwich', 'Commercial'): 4957651.0,
 ('Greenwich', 'Condo'): 904472.0,
 ('Greenwich', 'Four Family'): 1225926.0,
 ('Greenwich', 'Nan'): 4180317.0,
 ('Greenwich', 'Residential'): 2615728.0,
 ('Greenwich', 'Single Family'): 1626308.0,
 ('Greenwich', 'Three Family'): 610236.0,
 ('Greenwich', 'Two Family'): 590754.0,
 ('Greenwich', 'Vacant Land'): 1283796.0,
 ('Griswold', 'Commercial'): 808453.0,
 ('Griswold', 'Condo'): 93002.0,
 ('Griswold', 'Four Family'): 158023.0,
 ('Griswold', 'Nan'): 89316.0,
 ('Griswold', 'Public Utility'): 3451000.0,
 ('Griswold', 'Residential'): 128446.0,
 ('Griswold', 'Single Family'): 139539.0,
 ('Griswold', 'Three Family'): 135941.0,
 ('Griswold', 'Two Family'): 117399.0,
 ('Griswold', 'Vacant Land'): 239136.0,
 ('Groton', 'Apartments'): 1802827.0,
 ('Groton', 'Commercial'): 535918.0,
 ('Groton', 'Condo'): 123529.0,
 ('Groton', 'Four Family'): 239960.0,
 ('Groton', 'Industrial'): 197680.0,
 ('Groton', 'Nan'): 203290.0,
 ('Groton', 'Residential'): 189495.0,
 ('Groton', 'Single Family'): 204806.0,
 ('Groton', 'Three Family'): 232498.0,
 ('Groton', 'Two Family'): 170328.0,
 ('Groton', 'Vacant Land'): 108362.0,
 ('Guilford', 'Commercial'): 238632.0,
 ('Guilford', 'Condo'): 153773.0,
 ('Guilford', 'Four Family'): 1032710.0,
 ('Guilford', 'Nan'): 248533.0,
 ('Guilford', 'Residential'): 283440.0,
 ('Guilford', 'Single Family'): 321925.0,
 ('Guilford', 'Three Family'): 277475.0,
 ('Guilford', 'Two Family'): 282554.0,
 ('Guilford', 'Vacant Land'): 144367.0,
 ('Haddam', 'Condo'): 179976.0,
 ('Haddam', 'Nan'): 131952.0,
 ('Haddam', 'Single Family'): 216996.0,
 ('Haddam', 'Three Family'): 213547.0,
 ('Haddam', 'Two Family'): 197676.0,
 ('Hamden', 'Condo'): 572068.0,
 ('Hamden', 'Four Family'): 178032.0,
 ('Hamden', 'Nan'): 263729.0,
 ('Hamden', 'Single Family'): 183063.0,
 ('Hamden', 'Three Family'): 154252.0,
 ('Hamden', 'Two Family'): 137623.0,

In [42]:
# create a dict for mean of the Sale Amount column per town and property type
mean_sale_amount_per_town = df1_assessed_and_sale_above100.groupby(['Town','Property Type'])['Sale Amount'].mean().round(0).to_dict()
mean_sale_amount_per_town

{('***Unknown***', 'Single Family'): 282450.0,
 ('Andover', 'Nan'): 191894.0,
 ('Andover', 'Residential'): 313701.0,
 ('Andover', 'Single Family'): 239968.0,
 ('Andover', 'Two Family'): 264100.0,
 ('Andover', 'Vacant Land'): 122396.0,
 ('Ansonia', 'Apartments'): 490000.0,
 ('Ansonia', 'Commercial'): 336875.0,
 ('Ansonia', 'Condo'): 137827.0,
 ('Ansonia', 'Four Family'): 224952.0,
 ('Ansonia', 'Industrial'): 550000.0,
 ('Ansonia', 'Nan'): 231892.0,
 ('Ansonia', 'Residential'): 254531.0,
 ('Ansonia', 'Single Family'): 187080.0,
 ('Ansonia', 'Three Family'): 206301.0,
 ('Ansonia', 'Two Family'): 171486.0,
 ('Ansonia', 'Vacant Land'): 155100.0,
 ('Ashford', 'Apartments'): 3372453.0,
 ('Ashford', 'Commercial'): 182219.0,
 ('Ashford', 'Condo'): 62606.0,
 ('Ashford', 'Nan'): 216842.0,
 ('Ashford', 'Residential'): 250076.0,
 ('Ashford', 'Single Family'): 197467.0,
 ('Ashford', 'Three Family'): 126000.0,
 ('Ashford', 'Two Family'): 154450.0,
 ('Ashford', 'Vacant Land'): 57218.0,
 ('Avon', 'Commercial'): 4214496.0,
 ('Avon', 'Condo'): 274453.0,
 ('Avon', 'Industrial'): 390000.0,
 ('Avon', 'Nan'): 508290.0,
 ('Avon', 'Residential'): 456132.0,
 ('Avon', 'Single Family'): 506649.0,
 ('Avon', 'Three Family'): 288000.0,
 ('Avon', 'Two Family'): 242000.0,
 ('Avon', 'Vacant Land'): 224024.0,
 ('Barkhamsted', 'Commercial'): 120000.0,
 ('Barkhamsted', 'Industrial'): 610000.0,
 ('Barkhamsted', 'Nan'): 193005.0,
 ('Barkhamsted', 'Residential'): 286706.0,
 ('Barkhamsted', 'Single Family'): 248237.0,
 ('Barkhamsted', 'Three Family'): 347500.0,
 ('Barkhamsted', 'Two Family'): 307000.0,
 ('Barkhamsted', 'Vacant Land'): 69250.0,
 ('Beacon Falls', 'Commercial'): 52500.0,
 ('Beacon Falls', 'Condo'): 374079.0,
 ('Beacon Falls', 'Industrial'): 90000.0,
 ('Beacon Falls', 'Nan'): 292770.0,
 ('Beacon Falls', 'Residential'): 250905.0,
 ('Beacon Falls', 'Single Family'): 216649.0,
 ('Beacon Falls', 'Two Family'): 191767.0,
 ('Beacon Falls', 'Vacant Land'): 75557.0,
 ('Berlin', 'Commercial'): 656214.0,
 ('Berlin', 'Condo'): 252355.0,
 ('Berlin', 'Four Family'): 347500.0,
 ('Berlin', 'Industrial'): 210000.0,
 ('Berlin', 'Nan'): 420919.0,
 ('Berlin', 'Residential'): 306441.0,
 ('Berlin', 'Single Family'): 268767.0,
 ('Berlin', 'Three Family'): 227033.0,
 ('Berlin', 'Two Family'): 216078.0,
 ('Berlin', 'Vacant Land'): 194180.0,
 ('Bethany', 'Commercial'): 797500.0,
 ('Bethany', 'Condo'): 382000.0,
 ('Bethany', 'Nan'): 310448.0,
 ('Bethany', 'Residential'): 399257.0,
 ('Bethany', 'Single Family'): 351052.0,
 ('Bethany', 'Two Family'): 410000.0,
 ('Bethany', 'Vacant Land'): 147067.0,
 ('Bethel', 'Commercial'): 867333.0,
 ('Bethel', 'Condo'): 322541.0,
 ('Bethel', 'Four Family'): 350833.0,
 ('Bethel', 'Industrial'): 130000.0,
 ('Bethel', 'Nan'): 388393.0,
 ('Bethel', 'Residential'): 403191.0,
 ('Bethel', 'Single Family'): 334236.0,
 ('Bethel', 'Three Family'): 319291.0,
 ('Bethel', 'Two Family'): 283079.0,
 ('Bethel', 'Vacant Land'): 148141.0,
 ('Bethlehem', 'Commercial'): 70000.0,
 ('Bethlehem', 'Condo'): 253500.0,
 ('Bethlehem', 'Four Family'): 185000.0,
 ('Bethlehem', 'Nan'): 262860.0,
 ('Bethlehem', 'Residential'): 391263.0,
 ('Bethlehem', 'Single Family'): 301512.0,
 ('Bethlehem', 'Two Family'): 343446.0,
 ('Bethlehem', 'Vacant Land'): 139631.0,
 ('Bloomfield', 'Commercial'): 1682197.0,
 ('Bloomfield', 'Condo'): 286908.0,
 ('Bloomfield', 'Industrial'): 1742426.0,
 ('Bloomfield', 'Nan'): 508767.0,
 ('Bloomfield', 'Residential'): 268183.0,
 ('Bloomfield', 'Single Family'): 228495.0,
 ('Bloomfield', 'Two Family'): 164306.0,
 ('Bloomfield', 'Vacant Land'): 190083.0,
 ('Bolton', 'Commercial'): 378333.0,
 ('Bolton', 'Condo'): 398500.0,
 ('Bolton', 'Nan'): 232850.0,
 ('Bolton', 'Residential'): 317355.0,
 ('Bolton', 'Single Family'): 271812.0,
 ('Bolton', 'Two Family'): 207983.0,
 ('Bolton', 'Vacant Land'): 105590.0,
 ('Bozrah', 'Commercial'): 1225000.0,
 ('Bozrah', 'Industrial'): 479000.0,
 ('Bozrah', 'Nan'): 230430.0,
 ('Bozrah', 'Residential'): 257019.0,
 ('Bozrah', 'Single Family'): 208588.0,
 ('Bozrah', 'Two Family'): 147260.0,
 ('Bozrah', 'Vacant Land'): 61760.0,
 ('Branford', 'Apartments'): 1541667.0,
 ('Branford', 'Commercial'): 730924.0,
 ('Branford', 'Condo'): 186513.0,
 ('Branford', 'Four Family'): 298570.0,
 ('Branford', 'Industrial'): 2045138.0,
 ('Branford', 'Nan'): 342258.0,
 ('Branford', 'Residential'): 349200.0,
 ('Branford', 'Single Family'): 379334.0,
 ('Branford', 'Three Family'): 338544.0,
 ('Branford', 'Two Family'): 295083.0,
 ('Branford', 'Vacant Land'): 315647.0,
 ('Bridgeport', 'Commercial'): 9520000.0,
 ('Bridgeport', 'Condo'): 111886.0,
 ('Bridgeport', 'Four Family'): 210569.0,
 ('Bridgeport', 'Nan'): 809726.0,
 ('Bridgeport', 'Residential'): 220512.0,
 ('Bridgeport', 'Single Family'): 202970.0,
 ('Bridgeport', 'Three Family'): 195324.0,
 ('Bridgeport', 'Two Family'): 172096.0,
 ('Bridgewater', 'Commercial'): 400000.0,
 ('Bridgewater', 'Condo'): 215594.0,
 ('Bridgewater', 'Industrial'): 1100000.0,
 ('Bridgewater', 'Nan'): 494251.0,
 ('Bridgewater', 'Residential'): 890059.0,
 ('Bridgewater', 'Single Family'): 638252.0,
 ('Bridgewater', 'Vacant Land'): 433000.0,
 ('Bristol', 'Apartments'): 3026000.0,
 ('Bristol', 'Commercial'): 821004.0,
 ('Bristol', 'Condo'): 127597.0,
 ('Bristol', 'Four Family'): 202983.0,
 ('Bristol', 'Industrial'): 285000.0,
 ('Bristol', 'Nan'): 227186.0,
 ('Bristol', 'Residential'): 223677.0,
 ('Bristol', 'Single Family'): 192322.0,
 ('Bristol', 'Three Family'): 182373.0,
 ('Bristol', 'Two Family'): 149089.0,
 ('Bristol', 'Vacant Land'): 131339.0,
 ('Brookfield', 'Commercial'): 631875.0,
 ('Brookfield', 'Condo'): 269690.0,
 ('Brookfield', 'Four Family'): 1000000.0,
 ('Brookfield', 'Industrial'): 3740893.0,
 ('Brookfield', 'Nan'): 489234.0,
 ('Brookfield', 'Residential'): 449524.0,
 ('Brookfield', 'Single Family'): 419151.0,
 ('Brookfield', 'Three Family'): 405000.0,
 ('Brookfield', 'Two Family'): 336594.0,
 ('Brookfield', 'Vacant Land'): 179413.0,
 ('Brooklyn', 'Condo'): 215240.0,
 ('Brooklyn', 'Four Family'): 179500.0,
 ('Brooklyn', 'Nan'): 190477.0,
 ('Brooklyn', 'Single Family'): 219001.0,
 ('Brooklyn', 'Three Family'): 170396.0,
 ('Brooklyn', 'Two Family'): 143192.0,
 ('Burlington', 'Apartments'): 288750.0,
 ('Burlington', 'Condo'): 211219.0,
 ('Burlington', 'Four Family'): 278250.0,
 ('Burlington', 'Nan'): 263917.0,
 ('Burlington', 'Residential'): 384406.0,
 ('Burlington', 'Single Family'): 339642.0,
 ('Burlington', 'Three Family'): 395000.0,
 ('Burlington', 'Two Family'): 250394.0,
 ('Burlington', 'Vacant Land'): 104434.0,
 ('Canaan', 'Four Family'): 21435.0,
 ('Canaan', 'Nan'): 317901.0,
 ('Canaan', 'Residential'): 362833.0,
 ('Canaan', 'Single Family'): 283504.0,
 ('Canaan', 'Two Family'): 215000.0,
 ('Canaan', 'Vacant Land'): 333550.0,
 ('Canterbury', 'Condo'): 24000.0,
 ('Canterbury', 'Four Family'): 190000.0,
 ('Canterbury', 'Nan'): 154132.0,
 ('Canterbury', 'Single Family'): 209344.0,
 ('Canterbury', 'Two Family'): 209917.0,
 ('Canton', 'Apartments'): 178125.0,
 ('Canton', 'Commercial'): 564992.0,
 ('Canton', 'Condo'): 194549.0,
 ('Canton', 'Four Family'): 232400.0,
 ('Canton', 'Nan'): 305095.0,
 ('Canton', 'Residential'): 349029.0,
 ('Canton', 'Single Family'): 367617.0,
 ('Canton', 'Three Family'): 151000.0,
 ('Canton', 'Two Family'): 213524.0,
 ('Canton', 'Vacant Land'): 248966.0,
 ('Chaplin', 'Commercial'): 431122.0,
 ('Chaplin', 'Condo'): 95622.0,
 ('Chaplin', 'Four Family'): 197500.0,
 ('Chaplin', 'Nan'): 162344.0,
 ('Chaplin', 'Residential'): 211468.0,
 ('Chaplin', 'Single Family'): 181437.0,
 ('Chaplin', 'Two Family'): 153033.0,
 ('Chaplin', 'Vacant Land'): 48967.0,
 ('Cheshire', 'Apartments'): 848700.0,
 ('Cheshire', 'Commercial'): 1930108.0,
 ('Cheshire', 'Condo'): 221836.0,
 ('Cheshire', 'Industrial'): 5963472.0,
 ('Cheshire', 'Nan'): 413493.0,
 ('Cheshire', 'Residential'): 383778.0,
 ('Cheshire', 'Single Family'): 343778.0,
 ('Cheshire', 'Three Family'): 239000.0,
 ('Cheshire', 'Two Family'): 287028.0,
 ('Cheshire', 'Vacant Land'): 335200.0,
 ('Chester', 'Commercial'): 529929.0,
 ('Chester', 'Condo'): 307760.0,
 ('Chester', 'Four Family'): 365000.0,
 ('Chester', 'Nan'): 369001.0,
 ('Chester', 'Residential'): 418146.0,
 ('Chester', 'Single Family'): 322055.0,
 ('Chester', 'Three Family'): 455000.0,
 ('Chester', 'Two Family'): 339500.0,
 ('Chester', 'Vacant Land'): 119329.0,
 ('Clinton', 'Condo'): 169294.0,
 ('Clinton', 'Four Family'): 324750.0,
 ('Clinton', 'Nan'): 286917.0,
 ('Clinton', 'Single Family'): 312610.0,
 ('Clinton', 'Three Family'): 231660.0,
 ('Clinton', 'Two Family'): 275086.0,
 ('Colchester', 'Apartments'): 12850000.0,
 ('Colchester', 'Commercial'): 1270167.0,
 ('Colchester', 'Condo'): 219120.0,
 ('Colchester', 'Four Family'): 307200.0,
 ('Colchester', 'Nan'): 234160.0,
 ('Colchester', 'Residential'): 291416.0,
 ('Colchester', 'Single Family'): 249017.0,
 ('Colchester', 'Three Family'): 172278.0,
 ('Colchester', 'Two Family'): 187812.0,
 ('Colchester', 'Vacant Land'): 103134.0,
 ('Colebrook', 'Nan'): 176361.0,
 ('Colebrook', 'Residential'): 323886.0,
 ('Colebrook', 'Single Family'): 252370.0,
 ('Colebrook', 'Two Family'): 154524.0,
 ('Colebrook', 'Vacant Land'): 79909.0,
 ('Columbia', 'Commercial'): 1057333.0,
 ('Columbia', 'Condo'): 243429.0,
 ('Columbia', 'Nan'): 223029.0,
 ('Columbia', 'Residential'): 333815.0,
 ('Columbia', 'Single Family'): 251865.0,
 ('Columbia', 'Three Family'): 300000.0,
 ('Columbia', 'Two Family'): 128962.0,
 ('Columbia', 'Vacant Land'): 141044.0,
 ('Cornwall', 'Commercial'): 299500.0,
 ('Cornwall', 'Nan'): 348186.0,
 ('Cornwall', 'Residential'): 662982.0,
 ('Cornwall', 'Single Family'): 444669.0,
 ('Cornwall', 'Two Family'): 275000.0,
 ('Cornwall', 'Vacant Land'): 135620.0,
 ('Coventry', 'Commercial'): 703288.0,
 ('Coventry', 'Condo'): 167544.0,
 ('Coventry', 'Four Family'): 285000.0,
 ('Coventry', 'Nan'): 179374.0,
 ('Coventry', 'Residential'): 272474.0,
 ('Coventry', 'Single Family'): 223761.0,
 ('Coventry', 'Three Family'): 170900.0,
 ('Coventry', 'Two Family'): 253994.0,
 ('Coventry', 'Vacant Land'): 167642.0,
 ('Cromwell', 'Commercial'): 6291901.0,
 ('Cromwell', 'Condo'): 183625.0,
 ('Cromwell', 'Four Family'): 225000.0,
 ('Cromwell', 'Industrial'): 1175000.0,
 ('Cromwell', 'Nan'): 296646.0,
 ('Cromwell', 'Residential'): 265798.0,
 ('Cromwell', 'Single Family'): 284676.0,
 ('Cromwell', 'Three Family'): 285114.0,
 ('Cromwell', 'Two Family'): 190289.0,
 ('Cromwell', 'Vacant Land'): 158350.0,
 ('Danbury', 'Apartments'): 22400000.0,
 ('Danbury', 'Commercial'): 3820262.0,
 ('Danbury', 'Condo'): 265748.0,
 ('Danbury', 'Four Family'): 352422.0,
 ('Danbury', 'Industrial'): 4409500.0,
 ('Danbury', 'Nan'): 516810.0,
 ('Danbury', 'Residential'): 347993.0,
 ('Danbury', 'Single Family'): 307342.0,
 ('Danbury', 'Three Family'): 333152.0,
 ('Danbury', 'Two Family'): 261609.0,
 ('Danbury', 'Vacant Land'): 115340.0,
 ('Darien', 'Commercial'): 1030000.0,
 ('Darien', 'Condo'): 1003598.0,
 ('Darien', 'Nan'): 1402767.0,
 ('Darien', 'Residential'): 1796308.0,
 ('Darien', 'Single Family'): 1641900.0,
 ('Darien', 'Two Family'): 1853750.0,
 ('Darien', 'Vacant Land'): 1869682.0,
 ('Deep River', 'Condo'): 138934.0,
 ('Deep River', 'Four Family'): 450000.0,
 ('Deep River', 'Nan'): 283668.0,
 ('Deep River', 'Residential'): 150000.0,
 ('Deep River', 'Single Family'): 325119.0,
 ('Deep River', 'Three Family'): 182500.0,
 ('Deep River', 'Two Family'): 252711.0,
 ('Derby', 'Commercial'): 1586160.0,
 ('Derby', 'Condo'): 155244.0,
 ('Derby', 'Four Family'): 190805.0,
 ('Derby', 'Nan'): 201610.0,
 ('Derby', 'Residential'): 232093.0,
 ('Derby', 'Single Family'): 204901.0,
 ('Derby', 'Three Family'): 171988.0,
 ('Derby', 'Two Family'): 171754.0,
 ('Derby', 'Vacant Land'): 125389.0,
 ('Durham', 'Condo'): 218390.0,
 ('Durham', 'Nan'): 265360.0,
 ('Durham', 'Single Family'): 313348.0,
 ('Durham', 'Two Family'): 233000.0,
 ('East Granby', 'Commercial'): 1155000.0,
 ('East Granby', 'Condo'): 205809.0,
 ('East Granby', 'Four Family'): 315000.0,
 ('East Granby', 'Industrial'): 3794667.0,
 ('East Granby', 'Nan'): 328504.0,
 ('East Granby', 'Residential'): 305275.0,
 ('East Granby', 'Single Family'): 276551.0,
 ('East Granby', 'Two Family'): 211850.0,
 ('East Granby', 'Vacant Land'): 97112.0,
 ('East Haddam', 'Commercial'): 390000.0,
 ('East Haddam', 'Condo'): 240121.0,
 ('East Haddam', 'Nan'): 217611.0,
 ('East Haddam', 'Residential'): 299751.0,
 ('East Haddam', 'Single Family'): 259506.0,
 ('East Haddam', 'Three Family'): 304800.0,
 ('East Haddam', 'Two Family'): 305170.0,
 ('East Haddam', 'Vacant Land'): 55609.0,
 ('East Hampton', 'Condo'): 184383.0,
 ('East Hampton', 'Four Family'): 247500.0,
 ('East Hampton', 'Nan'): 217473.0,
 ('East Hampton', 'Single Family'): 259192.0,
 ('East Hampton', 'Three Family'): 187940.0,
 ('East Hampton', 'Two Family'): 201984.0,
 ('East Hartford', 'Apartments'): 6136058.0,
 ('East Hartford', 'Commercial'): 1236674.0,
 ('East Hartford', 'Condo'): 123286.0,
 ('East Hartford', 'Four Family'): 201849.0,
 ('East Hartford', 'Industrial'): 442500.0,
 ('East Hartford', 'Nan'): 254589.0,
 ('East Hartford', 'Residential'): 195403.0,
 ('East Hartford', 'Single Family'): 144053.0,
 ('East Hartford', 'Three Family'): 149780.0,
 ('East Hartford', 'Two Family'): 156521.0,
 ('East Hartford', 'Vacant Land'): 40500.0,
 ('East Haven', 'Apartments'): 1291667.0,
 ('East Haven', 'Commercial'): 777300.0,
 ('East Haven', 'Condo'): 156857.0,
 ('East Haven', 'Four Family'): 231125.0,
 ('East Haven', 'Industrial'): 4916667.0,
 ('East Haven', 'Nan'): 295450.0,
 ('East Haven', 'Residential'): 249461.0,
 ('East Haven', 'Single Family'): 198976.0,
 ('East Haven', 'Three Family'): 260294.0,
 ('East Haven', 'Two Family'): 205629.0,
 ('East Haven', 'Vacant Land'): 99291.0,
 ('East Lyme', 'Commercial'): 586429.0,
 ('East Lyme', 'Condo'): 230811.0,
 ('East Lyme', 'Four Family'): 177500.0,
 ('East Lyme', 'Industrial'): 1300000.0,
 ('East Lyme', 'Nan'): 354042.0,
 ('East Lyme', 'Residential'): 428086.0,
 ('East Lyme', 'Single Family'): 342387.0,
 ('East Lyme', 'Three Family'): 255000.0,
 ('East Lyme', 'Two Family'): 247329.0,
 ('East Lyme', 'Vacant Land'): 165854.0,
 ('East Windsor', 'Apartments'): 162500.0,
 ('East Windsor', 'Commercial'): 373559.0,
 ('East Windsor', 'Condo'): 188943.0,
 ('East Windsor', 'Four Family'): 212500.0,
 ('East Windsor', 'Industrial'): 300000.0,
 ('East Windsor', 'Nan'): 309902.0,
 ('East Windsor', 'Residential'): 242479.0,
 ('East Windsor', 'Single Family'): 204301.0,
 ('East Windsor', 'Three Family'): 168350.0,
 ('East Windsor', 'Two Family'): 184187.0,
 ('East Windsor', 'Vacant Land'): 159935.0,
 ('Eastford', 'Commercial'): 1011710.0,
 ('Eastford', 'Condo'): 212482.0,
 ('Eastford', 'Industrial'): 5100000.0,
 ('Eastford', 'Nan'): 163592.0,
 ('Eastford', 'Residential'): 264025.0,
 ('Eastford', 'Single Family'): 226601.0,
 ('Eastford', 'Three Family'): 70000.0,
 ('Eastford', 'Vacant Land'): 71562.0,
 ('Easton', 'Condo'): 478900.0,
 ('Easton', 'Nan'): 654599.0,
 ('Easton', 'Residential'): 755745.0,
 ('Easton', 'Single Family'): 624518.0,
 ('Easton', 'Two Family'): 585000.0,
 ('Easton', 'Vacant Land'): 184185.0,
 ('Ellington', 'Condo'): 201777.0,
 ('Ellington', 'Four Family'): 342500.0,
 ('Ellington', 'Nan'): 236286.0,
 ('Ellington', 'Single Family'): 300042.0,
 ('Ellington', 'Three Family'): 286429.0,
 ('Ellington', 'Two Family'): 220368.0,
 ('Enfield', 'Commercial'): 1121515.0,
 ('Enfield', 'Condo'): 161764.0,
 ('Enfield', 'Four Family'): 159162.0,
 ('Enfield', 'Industrial'): 1850000.0,
 ('Enfield', 'Nan'): 353248.0,
 ('Enfield', 'Residential'): 231349.0,
 ('Enfield', 'Single Family'): 183654.0,
 ('Enfield', 'Three Family'): 161537.0,
 ('Enfield', 'Two Family'): 156997.0,
 ('Enfield', 'Vacant Land'): 140299.0,
 ('Essex', 'Commercial'): 461083.0,
 ('Essex', 'Condo'): 242558.0,
 ('Essex', 'Industrial'): 380000.0,
 ('Essex', 'Nan'): 418857.0,
 ('Essex', 'Residential'): 581968.0,
 ('Essex', 'Single Family'): 500206.0,
 ('Essex', 'Three Family'): 299125.0,
 ('Essex', 'Two Family'): 544462.0,
 ('Essex', 'Vacant Land'): 369364.0,
 ('Fairfield', 'Condo'): 464064.0,
 ('Fairfield', 'Four Family'): 414410.0,
 ('Fairfield', 'Nan'): 769449.0,
 ('Fairfield', 'Single Family'): 732816.0,
 ('Fairfield', 'Three Family'): 416436.0,
 ('Fairfield', 'Two Family'): 407994.0,
 ('Farmington', 'Apartments'): 6148439.0,
 ('Farmington', 'Commercial'): 2425486.0,
 ('Farmington', 'Condo'): 241171.0,
 ('Farmington', 'Four Family'): 401500.0,
 ('Farmington', 'Industrial'): 890000.0,
 ('Farmington', 'Nan'): 526518.0,
 ('Farmington', 'Residential'): 385653.0,
 ('Farmington', 'Single Family'): 434280.0,
 ('Farmington', 'Three Family'): 375018.0,
 ('Farmington', 'Two Family'): 253992.0,
 ('Farmington', 'Vacant Land'): 183415.0,
 ('Franklin', 'Apartments'): 400000.0,
 ('Franklin', 'Commercial'): 257500.0,
 ('Franklin', 'Nan'): 224473.0,
 ('Franklin', 'Residential'): 264757.0,
 ('Franklin', 'Single Family'): 213956.0,
 ('Franklin', 'Two Family'): 45000.0,
 ('Franklin', 'Vacant Land'): 173617.0,
 ('Glastonbury', 'Apartments'): 380000.0,
 ('Glastonbury', 'Commercial'): 1304062.0,
 ('Glastonbury', 'Condo'): 212935.0,
 ('Glastonbury', 'Four Family'): 391833.0,
 ('Glastonbury', 'Industrial'): 950000.0,
 ('Glastonbury', 'Nan'): 496726.0,
 ('Glastonbury', 'Residential'): 401717.0,
 ('Glastonbury', 'Single Family'): 403068.0,
 ('Glastonbury', 'Three Family'): 314250.0,
 ('Glastonbury', 'Two Family'): 259716.0,
 ('Glastonbury', 'Vacant Land'): 147817.0,
 ('Goshen', 'Commercial'): 298800.0,
 ('Goshen', 'Condo'): 271571.0,
 ('Goshen', 'Four Family'): 172500.0,
 ('Goshen', 'Nan'): 308970.0,
 ('Goshen', 'Residential'): 564613.0,
 ('Goshen', 'Single Family'): 395667.0,
 ('Goshen', 'Two Family'): 326862.0,
 ('Goshen', 'Vacant Land'): 164088.0,
 ('Granby', 'Commercial'): 426458.0,
 ('Granby', 'Condo'): 228539.0,
 ('Granby', 'Nan'): 304648.0,
 ('Granby', 'Public Utility'): 315000.0,
 ('Granby', 'Residential'): 357201.0,
 ('Granby', 'Single Family'): 305430.0,
 ('Granby', 'Three Family'): 205000.0,
 ('Granby', 'Two Family'): 235400.0,
 ('Granby', 'Vacant Land'): 221836.0,
 ('Greenwich', 'Commercial'): 5894138.0,
 ('Greenwich', 'Condo'): 1140614.0,
 ('Greenwich', 'Four Family'): 1996538.0,
 ('Greenwich', 'Nan'): 4512851.0,
 ('Greenwich', 'Residential'): 3406199.0,
 ('Greenwich', 'Single Family'): 2404497.0,
 ('Greenwich', 'Three Family'): 1001299.0,
 ('Greenwich', 'Two Family'): 887774.0,
 ('Greenwich', 'Vacant Land'): 2576317.0,
 ('Griswold', 'Commercial'): 1819017.0,
 ('Griswold', 'Condo'): 96785.0,
 ('Griswold', 'Four Family'): 156585.0,
 ('Griswold', 'Nan'): 182123.0,
 ('Griswold', 'Public Utility'): 1400000.0,
 ('Griswold', 'Residential'): 290652.0,
 ('Griswold', 'Single Family'): 182925.0,
 ('Griswold', 'Three Family'): 142521.0,
 ('Griswold', 'Two Family'): 127378.0,
 ('Griswold', 'Vacant Land'): 146568.0,
 ('Groton', 'Apartments'): 4159400.0,
 ('Groton', 'Commercial'): 821333.0,
 ('Groton', 'Condo'): 171168.0,
 ('Groton', 'Four Family'): 330424.0,
 ('Groton', 'Industrial'): 74500.0,
 ('Groton', 'Nan'): 371958.0,
 ('Groton', 'Residential'): 351734.0,
 ('Groton', 'Single Family'): 280762.0,
 ('Groton', 'Three Family'): 276350.0,
 ('Groton', 'Two Family'): 210111.0,
 ('Groton', 'Vacant Land'): 163575.0,
 ('Guilford', 'Commercial'): 525750.0,
 ('Guilford', 'Condo'): 230471.0,
 ('Guilford', 'Four Family'): 360000.0,
 ('Guilford', 'Nan'): 469371.0,
 ('Guilford', 'Residential'): 527252.0,
 ('Guilford', 'Single Family'): 457574.0,
 ('Guilford', 'Three Family'): 256374.0,
 ('Guilford', 'Two Family'): 401265.0,
 ('Guilford', 'Vacant Land'): 196694.0,
 ('Haddam', 'Condo'): 232550.0,
 ('Haddam', 'Nan'): 242000.0,
 ('Haddam', 'Single Family'): 305506.0,
 ('Haddam', 'Three Family'): 271333.0,
 ('Haddam', 'Two Family'): 249083.0,
 ('Hamden', 'Condo'): 386570.0,
 ('Hamden', 'Four Family'): 247528.0,
 ('Hamden', 'Nan'): 542491.0,
 ('Hamden', 'Single Family'): 259761.0,
 ('Hamden', 'Three Family'): 208031.0,

For the next step, I will handle the rows that have 0 or less than 100 in the Assessed Value and/or Sale Amount column 
1. I'm going to **replace all the 0 values in the Assessed Value and Sale Amount column with the mean value** that I've got before, in which the mean of both values per address will be prioritized.
2. As for the following step, I will assume that both values have either the same number of digits or a maximum difference of 1 digit between them. Therefore, I have decided to **adjust the digits to be equal** if there is a difference of more than 1 digit since I got no extra information on the internet to adjust them better.

In [43]:
# get all rows consisting of 0 value in assessed value or sale amount but I don't want to use data that have a value less than 100 in both columns
df1_assessed_or_sale_eq0 = df1.copy()
df1_assessed_or_sale_eq0 = df1[((df1['Sale Amount'] == 0) & (df1['Assessed Value'] >= 100))
                               | ((df1['Sale Amount'] >= 100) & (df1['Assessed Value'] == 0)) ]

In [44]:
for index,row in df1_assessed_or_sale_eq0.iterrows():
    # variable initiation
    town = row['Town']
    address = row['Address']
    assessed_value = row['Assessed Value']
    sale_amount = row['Sale Amount']
    sales_ratio = row['Sales Ratio']
    property_type = row['Property Type']

    # replace 0 value in the Assessed Value and/or Sale Amount column
    if assessed_value == 0:
        if address in mean_assessed_value_per_address:
            assessed_value = mean_assessed_value_per_address[address]
        else:
            assessed_value = mean_assessed_value_per_town[(town, property_type)]
    if sale_amount == 0:
        if address in mean_sale_amount_per_address:
            sale_amount = mean_sale_amount_per_address[address]
        else:
            sale_amount = mean_sale_amount_per_town[(town, property_type)]

    # get the digits difference length between the assessed value and the sale amount
    assessed_value_digits = len(str(assessed_value).split('.', 1)[0])
    sale_amount_digits = len(str(sale_amount).split('.', 1)[0])
    diff_digits = abs(assessed_value_digits - sale_amount_digits)

    # adjust the digits by multiplying with 10**diff_digits
    if (assessed_value_digits > sale_amount_digits) and (diff_digits > 1): 
        sale_amount *= 10**diff_digits
        sales_ratio = assessed_value / sale_amount
        
        # According to iaao.org, property assessment sales ratio is between 90% - 110%
        if (sales_ratio < 0.9) & (sales_ratio > 1.1):
            sale_amount *= 10
    elif (sale_amount_digits > assessed_value_digits) and (diff_digits > 1):
        assessed_value *= 10**diff_digits
        sales_ratio = assessed_value / sale_amount

        # According to iaao.org, property assessment sales ratio is between 90% - 110%
        if (sales_ratio < 0.9) & (sales_ratio > 1.1):
            assessed_value *= 10

    # update the sales ratio
    sales_ratio = round(assessed_value / sale_amount, 5)

    # Update values in the DataFrame using loc
    df1_assessed_or_sale_eq0.loc[index, 'Sale Amount'] = sale_amount
    df1_assessed_or_sale_eq0.loc[index, 'Assessed Value'] = assessed_value
    df1_assessed_or_sale_eq0.loc[index, 'Sales Ratio'] = sales_ratio

To finish the numeric data cleaning, I will concatenat df1_assessed_or_sale_eq0 and df1_assessed_and_sale_above0

In [45]:
df1_numeric_clean = pd.concat([df1_assessed_and_sale_above100,df1_assessed_or_sale_eq0])

In [48]:
df1_numeric_clean.describe()

,Serial Number,List Year,Date Recorded,Assessed Value,Sale Amount,Sales Ratio,Years until sold
count,9.612810e+05,961281.000000,961281,9.612810e+05,9.612810e+05,961281.000000,961281.000000
mean,4.385587e+05,2010.271819,2011-07-19 05:31:39.536556800,2.961177e+05,4.446196e+05,0.816622,0.748652
min,8.100000e+01,2001.000000,2001-10-01 00:00:00,1.000000e+02,1.000000e+02,0.010830,0.000000
25%,3.049000e+04,2004.000000,2005-08-12 00:00:00,9.022000e+04,1.450000e+05,0.491750,0.000000
50%,7.048000e+04,2010.000000,2011-04-07 00:00:00,1.407700e+05,2.300000e+05,0.626080,1.000000
75%,1.600280e+05,2016.000000,2017-05-01 00:00:00,2.287500e+05,3.700000e+05,0.782010,1.000000
max,2.000500e+09,2020.000000,2021-09-30 00:00:00,2.238530e+09,5.000000e+09,99.411200,4.000000
std,6.631811e+06,6.229849,NaN,3.012896e+06,5.668783e+06,1.606644,0.433844

--------------
Data Cleaning for String Data
------------------------------------------------------------

In [53]:
df2 = df1_numeric_clean.copy()

In [54]:
(df2 == 'Nan').value_counts()

Serial Number  List Year  Date Recorded  Town   Address  Assessed Value  Sale Amount  Sales Ratio  Property Type  Residential Type  Years until sold
False          False      False          False  False    False           False        False        False          False             False               594141
                                                                                                   True           True              False               361528
                                                                                                   False          True              False                 5588
                                                True     False           False        False        True           True              False                   20
                                                                                                   False          False             False                    4
Name: count, dtype: int64

In [55]:
df2['Property Type'].value_counts()

Property Type
Single Family     391260
Nan               361548
Condo             103442
Residential        59691
Two Family         25521
Three Family       12129
Vacant Land         2941
Four Family         2102
Commercial          1938
Apartments           479
Industrial           226
Public Utility         4
Name: count, dtype: int64

In [56]:
df2['Residential Type'].value_counts()

Residential Type
Single Family    433868
Nan              367136
Condo            115654
Two Family        28665
Three Family      13596
Four Family        2362
Name: count, dtype: int64

Based on the insight about property types and the research I did on study.com, I've decided to devide the property types into 5 groups:
1. Residential (Singe Family, Multi-Family, Condo, Apartment)
2. Industrial
3. Commercial
4. Public Utility
5. Vacant Land

In [57]:
# update the residential type first
df2['Residential Type'] = df2.apply(lambda type: type['Property Type']
                                    if type['Property Type'] in ['Single Family', 'Two Family', 'Three Family', 'Four Family','Condo', 'Apartments']
                                    else type['Residential Type'], axis=1)

df2['Residential Type'].value_counts()

Residential Type
Single Family    433868
Nan              366657
Condo            115654
Two Family        28665
Three Family      13596
Four Family        2362
Apartments          479
Name: count, dtype: int64

In [58]:
# update the property type
df2['Property Type'] = df2['Property Type'].apply(lambda type: 'Residential'
                                                  if type in ['Single Family', 'Two Family', 'Three Family', 'Four Family','Condo', 'Apartments']
                                                  else type)

df2['Property Type'].value_counts()

Property Type
Residential       594624
Nan               361548
Vacant Land         2941
Commercial          1938
Industrial           226
Public Utility         4
Name: count, dtype: int64

In [59]:
df2[(df2['Property Type']=='Public Utility')]

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Years until sold
56950,20412,2020,2021-05-26,Waterford,296 WILLETTS AVE EXT,18490,34594.0,0.53449,Public Utility,Nan,1
13684,201322,2020,2021-09-01,Griswold,29 RICHARD AVE,3451000,1400000.0,2.46500,Public Utility,Nan,1
32215,20049,2020,2020-11-16,Plainfield,45 SPAULDING RD,117920,39000.0,3.02359,Public Utility,Nan,0
4280,20000275,2020,2021-09-20,Granby,30 FIRETOWN RD,154210,315000.0,0.48956,Public Utility,Nan,1

To determine the property type and the residential type, I'm going to use machine learning to classify the data

In [61]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import RandomOverSampler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, StratifiedKFold
from sklearn.metrics import classification_report, accuracy_score, precision_score, recall_score, f1_score
import pickle

In [62]:
df2_ml = df2[['Assessed Value', 'Sale Amount', 'Sales Ratio', 'Years until sold', 'Property Type', 'Residential Type']].copy()
df2_ml['Property Type'].value_counts()

Property Type
Residential       594624
Nan               361548
Vacant Land         2941
Commercial          1938
Industrial           226
Public Utility         4
Name: count, dtype: int64

In [63]:
# filter the dataset from Nan values
df2_ml_not_nan_pt = df2_ml[df2_ml['Property Type'] != 'Nan'].drop('Residential Type', axis=1)
df2_ml_not_nan_pt

,Assessed Value,Sale Amount,Sales Ratio,Years until sold,Property Type
23750,100000,231000.0,0.43290,1,Residential
610046,100000,366000.0,0.27322,1,Residential
453243,100000,435400.0,0.22967,0,Residential
835864,100000,262500.0,0.38095,1,Residential
529368,100000,279000.0,0.35842,1,Residential
...,...,...,...,...,...
992641,249297,360730.0,0.69109,1,Residential
994922,249297,418905.0,0.59512,1,Residential
996063,236849,230450.0,1.02777,1,Residential
996597,249297,482850.0,0.51630,1,Residential
996735,119550,85000.0,1.40647,1,Residential

1. Prediction for Property Type

In [64]:
# split the dataset
pt_train, pt_test = train_test_split(df2_ml_not_nan_pt, test_size=0.6, random_state= 42, shuffle= True)

In [65]:
pt_train[['Property Type']].value_counts()

Property Type
Residential      237905
Vacant Land        1170
Commercial          726
Industrial           92
Name: count, dtype: int64

In [66]:
def scale_dataset(data, target_column, oversample=False):
    X = data[data.columns[:-1]].values
    y = data[target_column].values

    # scale the feature data to make the value range more reasonable and help the computer learn more efficient
    scaler = StandardScaler()
    X = scaler.fit_transform(X)

    # oversampling data to make the data distribution more balance
    if oversample:
        ros = RandomOverSampler()
        X, y = ros.fit_resample(X, y)
    
    
    data = np.hstack([X,y.reshape(-1,1)])

    return data,  X, y

In [67]:
# scale and oversample train and test dataset
pt_train, pt_X_train, pt_y_train = scale_dataset(pt_train, 'Property Type', oversample=True)
pt_test, pt_X_test, pt_y_test = scale_dataset(pt_test, 'Property Type', oversample=False)

In [68]:
import seaborn as sns 
sns.pairplot(df2_ml_not_nan_pt, hue= 'Property Type')

Error in callback <function flush_figures at 0x000002290E4927A0> (for post_execute), with arguments args (),kwargs {}:

KeyboardInterrupt:

Since the data points that we have are overlapping one another, the kNN model would perform great in this scenario because the kNN model is based on Euclidean Distance, which the model will predict the class of a point based on its nearby points. It's good for situations where different classes mix in the data.

In [ ]:
knn = KNeighborsClassifier()
knn.fit(pt_X_train, pt_y_train) # train knn

# make prediction
pt_y_pred = knn.predict(pt_X_test)

# test set evaluation
report = classification_report(pt_y_test, pt_y_pred)
knn_accuracy_score = accuracy_score(pt_y_test, pt_y_pred)
knn_precision_score = precision_score(pt_y_test, pt_y_pred, average='weighted', zero_division=0)  # Choose the appropriate average
knn_recall_score = recall_score(pt_y_test, pt_y_pred, average='weighted', zero_division=0)  # Choose the appropriate average
knn_f1_score = f1_score(pt_y_test, pt_y_pred, average='weighted', zero_division=0)  # Choose the appropriate average

print('-'*35)
print(f'Accuracy Score: {round(knn_accuracy_score,5)}')
print(f'Precision Score: {round(knn_precision_score,5)}')
print(f'Recall Score: {round(knn_recall_score,5)}')
print(f'F1 Score: {round(knn_f1_score,5)}')
print(f'Labels with no predicted samples: {set(np.unique(pt_y_test)) - set(np.unique(pt_y_pred))}')
print('-'*35)

c:\Python39\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Python39\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Python39\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

-----------------------------------
Accuracy Score: 0.97289
Precision Score: 0.98313
Recall Score: 0.97289
F1 Score: 0.97796
Labels with no predicted samples: {'Public Utility'}
-----------------------------------

In [ ]:
# define the parameters
knn_params = {
    'n_neighbors': range(1,21,2)
}

# grid search
cv = StratifiedKFold(n_splits= 10)
grid_search = GridSearchCV(estimator=knn, param_grid=knn_params, cv=cv, scoring='accuracy', verbose=2)
grid_result = grid_search.fit(pt_X_train, pt_y_train)

# final model and make prediction
final_knn = KNeighborsClassifier(**grid_result.best_params_)
final_knn.fit(pt_X_train, pt_y_train)
pt_y_pred = final_knn.predict(pt_X_test)

# test set evaluation
knn_accuracy_score = accuracy_score(pt_y_test, pt_y_pred)
knn_precision_score = precision_score(pt_y_test, pt_y_pred, average='weighted', zero_division=0)  # Choose the appropriate average
knn_recall_score = recall_score(pt_y_test, pt_y_pred, average='weighted', zero_division=0)  # Choose the appropriate average
knn_f1_score = f1_score(pt_y_test, pt_y_pred, average='weighted', zero_division=0)  # Choose the appropriate average

print('-'*35)
print(f'Accuracy Score: {round(knn_accuracy_score,5)}')
print(f'Precision Score: {round(knn_precision_score,5)}')
print(f'Recall Score: {round(knn_recall_score,5)}')
print(f'F1 Score: {round(knn_f1_score,5)}')
print(f'Labels with no predicted samples: {set(np.unique(pt_y_test)) - set(np.unique(pt_y_pred))}')
print(f'Best parameters: {grid_result.best_params_}')
print('-'*35)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
[CV] END ......................................n_neighbors=1; total time=   8.1s
[CV] END ......................................n_neighbors=1; total time=   8.2s
[CV] END ......................................n_neighbors=1; total time=   8.3s
[CV] END ......................................n_neighbors=1; total time=   8.3s
[CV] END ......................................n_neighbors=1; total time=   8.2s
[CV] END ......................................n_neighbors=1; total time=   8.2s
[CV] END ......................................n_neighbors=1; total time=   8.2s
[CV] END ......................................n_neighbors=1; total time=   8.2s
[CV] END ......................................n_neighbors=1; total time=   8.0s
[CV] END ......................................n_neighbors=1; total time=   8.3s
[CV] END ......................................n_neighbors=3; total time=   8.5s
[CV] END ......................................n_neighbors=3; total time=   8.4s
[CV] END ......................................n_neighbors=3; total time=   8.4s
[CV] END ......................................n_neighbors=3; total time=   8.2s
[CV] END ......................................n_neighbors=3; total time=   8.4s
[CV] END ......................................n_neighbors=3; total time=   8.4s
[CV] END ......................................n_neighbors=3; total time=   8.4s
[CV] END ......................................n_neighbors=3; total time=   8.4s
[CV] END ......................................n_neighbors=3; total time=   8.2s
[CV] END ......................................n_neighbors=3; total time=   8.5s
[CV] END ......................................n_neighbors=5; total time=   8.5s
[CV] END ......................................n_neighbors=5; total time=   8.7s
[CV] END ......................................n_neighbors=5; total time=   8.5s
[CV] END ......................................n_neighbors=5; total time=   8.6s
[CV] END ......................................n_neighbors=5; total time=   8.6s
[CV] END ......................................n_neighbors=5; total time=   8.5s
[CV] END ......................................n_neighbors=5; total time=   8.4s
[CV] END ......................................n_neighbors=5; total time=   8.4s
[CV] END ......................................n_neighbors=5; total time=   8.3s
[CV] END ......................................n_neighbors=5; total time=   8.7s
[CV] END ......................................n_neighbors=7; total time=   8.7s
[CV] END ......................................n_neighbors=7; total time=   8.5s
[CV] END ......................................n_neighbors=7; total time=   8.8s
[CV] END ......................................n_neighbors=7; total time=   8.7s
[CV] END ......................................n_neighbors=7; total time=   8.5s
[CV] END ......................................n_neighbors=7; total time=   8.5s
[CV] END ......................................n_neighbors=7; total time=   8.7s
[CV] END ......................................n_neighbors=7; total time=   8.7s
[CV] END ......................................n_neighbors=7; total time=   8.5s
[CV] END ......................................n_neighbors=7; total time=   8.7s
[CV] END ......................................n_neighbors=9; total time=   8.6s
[CV] END ......................................n_neighbors=9; total time=   9.5s
[CV] END ......................................n_neighbors=9; total time=   9.5s
[CV] END ......................................n_neighbors=9; total time=   9.4s
[CV] END ......................................n_neighbors=9; total time=   9.4s
[CV] END ......................................n_neighbors=9; total time=   9.6s
[CV] END ......................................n_neighbors=9; total time=   9.7s
[CV] END ......................................n_neighbors=9; total time=   9.9s
[CV] END ......................................n_neighbors=9; total time=   9.6s
[CV] END ......................................n_neighbors=9; total time=   9.6s
[CV] END .....................................n_neighbors=11; total time=   9.8s
[CV] END .....................................n_neighbors=11; total time=   9.8s
[CV] END .....................................n_neighbors=11; total time=   9.8s
[CV] END .....................................n_neighbors=11; total time=  10.0s
[CV] END .....................................n_neighbors=11; total time=  10.0s
[CV] END .....................................n_neighbors=11; total time=  10.0s
[CV] END .....................................n_neighbors=11; total time=   9.8s
[CV] END .....................................n_neighbors=11; total time=   9.9s
[CV] END .....................................n_neighbors=11; total time=  10.1s
[CV] END .....................................n_neighbors=11; total time=  10.2s
[CV] END .....................................n_neighbors=13; total time=  10.1s
[CV] END .....................................n_neighbors=13; total time=  10.2s
[CV] END .....................................n_neighbors=13; total time=   9.9s
[CV] END .....................................n_neighbors=13; total time=  10.1s
[CV] END .....................................n_neighbors=13; total time=  10.2s
[CV] END .....................................n_neighbors=13; total time=  10.0s
[CV] END .....................................n_neighbors=13; total time=   9.9s
[CV] END .....................................n_neighbors=13; total time=  10.0s
[CV] END .....................................n_neighbors=13; total time=   9.9s
[CV] END .....................................n_neighbors=13; total time=  10.1s
[CV] END .....................................n_neighbors=15; total time=  10.3s
[CV] END .....................................n_neighbors=15; total time=  10.2s
[CV] END .....................................n_neighbors=15; total time=  10.4s
[CV] END .....................................n_neighbors=15; total time=  10.3s
[CV] END .....................................n_neighbors=15; total time=  10.2s
[CV] END .....................................n_neighbors=15; total time=  10.0s
[CV] END .....................................n_neighbors=15; total time=  10.1s
[CV] END .....................................n_neighbors=15; total time=  10.0s
[CV] END .....................................n_neighbors=15; total time=  10.0s
[CV] END .....................................n_neighbors=15; total time=  10.4s
[CV] END .....................................n_neighbors=17; total time=  10.2s
[CV] END .....................................n_neighbors=17; total time=  10.3s
[CV] END .....................................n_neighbors=17; total time=  10.3s
[CV] END .....................................n_neighbors=17; total time=  10.2s
[CV] END .....................................n_neighbors=17; total time=  10.2s
[CV] END .....................................n_neighbors=17; total time=  10.2s
[CV] END .....................................n_neighbors=17; total time=   9.9s
[CV] END .....................................n_neighbors=17; total time=  10.1s
[CV] END .....................................n_neighbors=17; total time=  10.0s
[CV] END .....................................n_neighbors=17; total time=  10.2s
[CV] END .....................................n_neighbors=19; total time=  10.5s
[CV] END .....................................n_neighbors=19; total time=   9.7s
[CV] END .....................................n_neighbors=19; total time=   9.9s
[CV] END .....................................n_neighbors=19; total time=  10.1s
[CV] END .....................................n_neighbors=19; total time=  10.4s
[CV] END .....................................n_neighbors=19; total time=  10.2s
[CV] END .....................................n_neighbors=19; total time=  10.2s
[CV] END .....................................n_neighbors=19; total time=  10.1s
[CV] END .....................................n_neighbors=19; total time=   9.9s
[CV] END .....................................n_neighbors=19; total time=  10.1s
-----------------------------------
Accuracy Score: 0.97937
Precision Score: 0.98305
Recall Score: 0.97937
F1 Score: 0.9812
Labels with no predicted samples: {'Public Utility'}
Best parameters: {'n_neighbors': 3}
-----------------------------------

In [ ]:
# save knn model
knn_property_type = pickle.dumps(final_knn)

Predict the property type of a feature data that have "Nan" value in the Property Type column

In [ ]:
# get all row consisting of "Nan" in the Property Type column
df2_pt_predict = df2_ml[df2_ml['Property Type'] == 'Nan'].drop('Residential Type', axis=1).copy()
df2_pt_predict.head()

,Assessed Value,Sale Amount,Sales Ratio,Years until sold,Property Type
358557,100000,475000.0,0.21053,1,Nan
569452,100000,230000.0,0.43478,1,Nan
387250,100000,561228.0,0.17818,1,Nan
433070,100,5000.0,0.02000,0,Nan
300041,10000,90000.0,0.11111,1,Nan

In [ ]:
# predict the data using the final_knn model
best_knn_property = pickle.loads(knn_property_type)
nan_pt_predict = best_knn_property.predict(df2_pt_predict[df2_pt_predict.columns[:-1]].values)
nan_pt_predict

array(['Residential', 'Residential', 'Residential', ..., 'Residential',
       'Residential', 'Residential'], dtype=object)

In [ ]:
# update the all the Nan(s) in the Property Type column with the predicted value
df2_pt_predict['Property Type'] = nan_pt_predict.reshape(-1,)

# combine predicted property type dataframe with the non_nan property type dataframe
df2_pt_predict_done = pd.concat([df2_pt_predict, df2_ml_not_nan_pt])

# update the dataframe that we've prepared to perform machine learning in the beginning so that we can use for the next prediction
df2_ml[df2_ml.columns[:-1]] = df2_pt_predict_done.reindex(df2_ml.index) # use reindex to match indices of df2_ml
df2_ml.head()

,Assessed Value,Sale Amount,Sales Ratio,Years until sold,Property Type,Residential Type
358557,100000,475000.0,0.21053,1,Residential,Nan
569452,100000,230000.0,0.43478,1,Residential,Nan
387250,100000,561228.0,0.17818,1,Residential,Nan
23750,100000,231000.0,0.43290,1,Residential,Single Family
433070,100,5000.0,0.02000,0,Residential,Nan

In [ ]:
df2_ml['Property Type'].value_counts()

Residential       956172
Vacant Land         2941
Commercial          1938
Industrial           226
Public Utility         4
Name: Property Type, dtype: int64

Now, I'm going to predict what is the residential type for residential property

In [ ]:
df2_ml_rt = df2_ml[df2_ml['Property Type'] == 'Residential'].copy()

In [ ]:
df2_ml_rt.head()

,Assessed Value,Sale Amount,Sales Ratio,Years until sold,Property Type,Residential Type
358557,100000,475000.0,0.21053,1,Residential,Nan
569452,100000,230000.0,0.43478,1,Residential,Nan
387250,100000,561228.0,0.17818,1,Residential,Nan
23750,100000,231000.0,0.43290,1,Residential,Single Family
433070,100,5000.0,0.02000,0,Residential,Nan

In [ ]:
df2_ml_rt[['Residential Type']].value_counts()

Residential Type
Single Family       433868
Nan                 361548
Condo               115654
Two Family           28665
Three Family         13596
Four Family           2362
Apartments             479
dtype: int64

In [ ]:
df2_ml_non_nan_rt = df2_ml_rt[df2_ml_rt['Residential Type'] != 'Nan'].drop('Property Type', axis= 1).copy()
df2_ml_non_nan_rt

,Assessed Value,Sale Amount,Sales Ratio,Years until sold,Residential Type
23750,100000,231000.0,0.43290,1,Single Family
610046,100000,366000.0,0.27322,1,Condo
453243,100000,435400.0,0.22967,0,Condo
835864,100000,262500.0,0.38095,1,Single Family
529368,100000,279000.0,0.35842,1,Condo
...,...,...,...,...,...
992641,249297,360730.0,0.69109,1,Condo
994922,249297,418905.0,0.59512,1,Condo
996063,236849,230450.0,1.02777,1,Single Family
996597,249297,482850.0,0.51630,1,Condo
996735,119550,85000.0,1.40647,1,Single Family

In [ ]:
rt_train, rt_test = train_test_split(df2_ml_non_nan_rt, test_size= 0.6, random_state= 42, shuffle= True)

In [ ]:
rt_train, rt_X_train, rt_y_train = scale_dataset(rt_train, 'Residential Type', oversample= True)
rt_test, rt_X_test, rt_y_test = scale_dataset(rt_test, 'Residential Type', oversample= False)

In [ ]:
knn_residential = KNeighborsClassifier()

knn_residential.fit(rt_X_train, rt_y_train)
rt_y_pred = knn_residential.predict(rt_X_test)

# result
accuracy = accuracy_score(rt_y_test, rt_y_pred)
precision = precision_score(rt_y_test, rt_y_pred, average= 'weighted') 
recall = recall_score(rt_y_test, rt_y_pred, average= 'weighted')
f1 = f1_score(rt_y_test, rt_y_pred, average= 'weighted')


print('-'*35)
print(f'Accuracy = {accuracy}')
print(f'Precision Score = {precision}')
print(f'Recall Score = {recall}')
print(f'F1-score = {f1}')
print('-'*35)

-----------------------------------
Accuracy = 0.4343185481045477
Precision Score = 0.6199704191873292
Recall Score = 0.4343185481045477
F1-score = 0.4649595365785187
-----------------------------------

In [ ]:
models = {
    'k-Nearest-Neighbors': KNeighborsClassifier(),
    'Naive Bayes': GaussianNB(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier()
}

for i in range (len(list(models))):
    model = list(models.values())[i]

    model.fit(rt_X_train, rt_y_train)
    rt_y_pred = model.predict(rt_X_test)

    # result
    accuracy = accuracy_score(rt_y_test, rt_y_pred)
    precision = precision_score(rt_y_test, rt_y_pred, average= 'weighted') 
    recall = recall_score(rt_y_test, rt_y_pred, average= 'weighted')
    f1 = f1_score(rt_y_test, rt_y_pred, average= 'weighted')


    print('-'*35)
    print(list(models.keys())[i])
    print('-'*35)
    print(f'Accuracy = {accuracy}')
    print(f'Precision Score = {precision}')
    print(f'Recall Score = {recall}')
    print(f'F1-score = {f1}')
    print('-'*35)
    print()

-----------------------------------
k-Nearest-Neighbors
-----------------------------------
Accuracy = 0.4343185481045477
Precision Score = 0.6199704191873292
Recall Score = 0.4343185481045477
F1-score = 0.4649595365785187
-----------------------------------

-----------------------------------
Naive Bayes
-----------------------------------
Accuracy = 0.43295354214841286
Precision Score = 0.610617527682344
Recall Score = 0.43295354214841286
F1-score = 0.4869036865296442
-----------------------------------

-----------------------------------
Decision Tree
-----------------------------------
Accuracy = 0.5168803867984023
Precision Score = 0.6044374891792221
Recall Score = 0.5168803867984023
F1-score = 0.5460775846816179
-----------------------------------

-----------------------------------
Random Forest
-----------------------------------
Accuracy = 0.6074388620278888
Precision Score = 0.6196811845176858
Recall Score = 0.6074388620278888
F1-score = 0.6053027904932687
-----------------------------------

In [ ]:
rfc_params = 
    'n_estimators': [10, 100],
    'criterion': ['gini'],
    'max_depth': [None, 5, 10, 15, 20],
    'min_samples_split': [2, 5, 10, 15, 20],
    'min_samples_leaf': [6, 10, 15, 20]
}

# grid search
cv = StratifiedKFold(n_splits= 10)
random_search = RandomizedSearchCV(estimator= RandomForestClassifier(),
                                 param_distributions= rfc_params,
                                 cv= cv,
                                 n_iter= 10,
                                 scoring= 'accuracy',
                                 verbose= 2,
                                 random_state= 42)
random_result = random_search.fit(rt_X_train, rt_y_train)

# final random forest classifier
final_rfc = RandomForestClassifier(**grid_result.best_params_)
final_rfc.fit(rt_X_train, rt_y_train)
rt_y_pred = final_rfc.predict(rt_X_test)

# test set evaluation
knn_accuracy_score = accuracy_score(pt_y_test, pt_y_pred)
knn_precision_score = precision_score(pt_y_test, pt_y_pred, average='weighted', zero_division=0)  # Choose the appropriate average
knn_recall_score = recall_score(pt_y_test, pt_y_pred, average='weighted', zero_division=0)  # Choose the appropriate average
knn_f1_score = f1_score(pt_y_test, pt_y_pred, average='weighted', zero_division=0)  # Choose the appropriate average

print('-'*35)
print(f'Accuracy Score: {round(knn_accuracy_score,5)}')
print(f'Precision Score: {round(knn_precision_score,5)}')
print(f'Recall Score: {round(knn_recall_score,5)}')
print(f'F1 Score: {round(knn_f1_score,5)}')
print(f'Labels with no predicted samples: {set(np.unique(rt_y_test)) - set(np.unique(rt_y_pred))}')
print(f'Best parameters: {random_result.best_params_}')
print('-'*35)

SyntaxError: invalid syntax (Temp/ipykernel_22236/3843655804.py, line 1)

In [ ]:
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBClassif
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

# Use LabelEncoder to convert string labels to numerical labels
label_encoder = LabelEncoder()
rt_y_train_encoded = label_encoder.fit_transform(rt_y_train)
rt_y_test_encoded = label_encoder.transform(rt_y_test)

# Create and train the XGBoost classifier
boost = XGBClassifier()
boost.fit(rt_X_train, rt_y_train_encoded)
rt_y_pred_encoded = boost.predict(rt_X_test)

# Decode the predictions back to original labels if needed
rt_y_pred = label_encoder.inverse_transform(rt_y_pred_encoded)

# Calculate metrics
accuracy = accuracy_score(rt_y_test, rt_y_pred)
precision = precision_score(rt_y_test, rt_y_pred, average='weighted')
recall = recall_score(rt_y_test, rt_y_pred, average='weighted')
f1 = f1_score(rt_y_test, rt_y_pred, average='weighted')

print('-'*35)
print(f'Accuracy = {accuracy}')
print(f'Precision Score = {precision}')
print(f'Recall Score = {recall}')
print(f'F1-score = {f1}')
print('-'*35)

-----------------------------------
Accuracy = 0.425509074346577
Precision Score = 0.6534518925314389
Recall Score = 0.425509074346577
F1-score = 0.45056108284396734
-----------------------------------

In [ ]:
df2_copy['Property Type'].values

NameError: name 'df2_copy' is not defined

In [ ]:
cat = df2.select_dtypes(include='O').keys()
cat

Index(['Town', 'Address', 'Property Type', 'Residential Type'], dtype='object')

In [ ]:
df2_copy = df2.copy()

In [ ]:
df2_copy_property_type = df2_copy[df2_copy.columns[:-2]]
df2_copy_property_type.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type
358557,50138,2005,2006-04-03,Old Saybrook,175 FERRY RD 14,100000,475000.0,0.21053,Nan
569452,10616,2010,2011-09-13,Wethersfield,30 CALIBER LN,100000,230000.0,0.43478,Nan
387250,50178,2005,2006-05-16,Old Saybrook,175 FERRY RD 27,100000,561228.0,0.17818,Nan
23750,20018,2020,2021-01-21,Andover,24 SKINNER HILL RD,100000,231000.0,0.43290,Residential
433070,60004,2006,2006-10-05,Brooklyn,POMFRET RD,100,5000.0,0.02000,Nan

In [ ]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [ ]:
ohe = OneHotEncoder()

In [ ]:
property_cat = [cat for cat in df2_copy_property_type['Property Type'].value_counts().index]
property_cat

['Residential',
 'Nan',
 'Vacant Land',
 'Commercial',
 'Industrial',
 'Public Utility']

In [ ]:
# apply One-Hot-Encoder for the Property Type column

one_hot_df = pd.get_dummies(df2_copy_property_type['Property Type'])
df2_ohe_property_type = pd.concat([df2_copy_property_type, one_hot_df], axis=1)
df2_ohe_property_type

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Commercial,Industrial,Nan,Public Utility,Residential,Vacant Land
358557,50138,2005,2006-04-03,Old Saybrook,175 FERRY RD 14,100000,475000.0,0.21053,Nan,0,0,1,0,0,0
569452,10616,2010,2011-09-13,Wethersfield,30 CALIBER LN,100000,230000.0,0.43478,Nan,0,0,1,0,0,0
387250,50178,2005,2006-05-16,Old Saybrook,175 FERRY RD 27,100000,561228.0,0.17818,Nan,0,0,1,0,0,0
23750,20018,2020,2021-01-21,Andover,24 SKINNER HILL RD,100000,231000.0,0.43290,Residential,0,0,0,0,1,0
433070,60004,2006,2006-10-05,Brooklyn,POMFRET RD,100,5000.0,0.02000,Nan,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992904,190045,2019,2019-11-22,Windham,234 BEAVER HILL RD,111140,30000.0,3.70467,Nan,0,0,1,0,0,0
994922,190355,2019,2020-04-02,Oxford,1029 TURNBERRY CT,249297,418905.0,0.59512,Residential,0,0,0,0,1,0
996063,190290,2019,2020-06-04,Simsbury,24 HENDRICKS LANE,236849,230450.0,1.02777,Residential,0,0,0,0,1,0
996597,190409,2019,2020-07-01,Oxford,735 CHAMPIONSHIP DR,249297,482850.0,0.51630,Residential,0,0,0,0,1,0
996735,190202,2019,2020-03-31,Waterford,7 THIRD AVE,119550,85000.0,1.40647,Residential,0,0,0,0,1,0

In [ ]:
df2[[^'Address']]

SyntaxError: invalid syntax (Temp/ipykernel_16936/594449357.py, line 1)